# Copyright 2025 Emmanuel Madehin
# SPDX-License-Identifier: Apache-2.0

openapi: 3.0.4
info:
  title: Dployr Base API
  version: 1.0.0
  description: |
    Your app, your server, your rules!
    
    ## Authentication
    Authenticate using OAuth2.0 with providers like Google, GitHub, Microsoft,
    or via email. Session-based authentication with a cookie.

    ### Authentication Flow
    See https://docs.dployr.io/auth for more details.
    
    ## Authorization
    Role-based access control with four levels:
    - **Owner**: Full system control, can manage admins
    - **Admin**: Infrastructure management, user management, secrets
    - **Developer**: Deploy apps, view logs and events
    - **Viewer**: Read-only access to services

    See https://docs.dployr.io/auth for more details.

    ## Rate limiting
    To protect the service, Dployr Base applies per-user rate limits:

    - **Global API limit**: By default, each authenticated user (or IP for
      unauthenticated traffic) can make up to **100 requests per minute** to
      `/v1/*` endpoints.
    - **Log streaming initiation**: `POST /v1/instances/{instanceId}/logs/stream`
      is more strictly limited to **10 requests per minute** per user, since each
      request can start a daemon log streaming task.
    - **WebSocket log chunks**: Log data itself is delivered over the
      `/v1/instances/{instanceId}/stream` WebSocket as `log_chunk` events. The
      server enforces internal limits on how many chunks per second are processed
      per stream to avoid abuse.

    When a client exceeds a limit, the API returns **HTTP 429 Too Many Requests**
    with an `ErrorResponse` payload and may include `Retry-After` and
    `X-RateLimit-*` headers indicating when it is safe to retry.

servers:
  - url: https://base.dployr.io
    description: Production

tags:
  - name: Health
    description: Service health checks.
  - name: Auth
    description: Authentication and session management.
  - name: Users
    description: Current user profile.
  - name: Clusters
    description: Cluster membership, roles, and integrations.
  - name: Instances
    description: Base instances and logs.
  - name: Domains
    description: Instance domains and bootstrap registration.
  - name: Deployments
    description: Deployment history and status.
  - name: Notifications
    description: Notification integrations and event subscriptions.
  - name: GitHub
    description: GitHub App webhooks.
  - name: Runtime
    description: Runtime events and activity.
  - name: Agents
    description: Instance reporting status and polling for tasks.

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        code:
          type: string
        helpLink:
          type: string
          format: uri
        errors:
          type: array
          items:
            type: object
            additionalProperties: true

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
        data:
          description: Response payload
          nullable: true
          type: object

    PaginatedResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        pagination:
          type: object
          properties:
            page:
              type: integer
              minimum: 1
            pageSize:
              type: integer
              minimum: 1
            totalItems:
              type: integer
              minimum: 0
            totalPages:
              type: integer
              minimum: 0
            hasNextPage:
              type: boolean
            hasPreviousPage:
              type: boolean

    StatusUpdateMessage:
      type: object
      description: WebSocket message sent to clients with the latest system status.
      properties:
        kind:
          type: string
          enum: [status_update]
        timestamp:
          type: integer
          format: int64
          description: Milliseconds since Unix epoch.
        system:
          $ref: '#/components/schemas/AgentUpdateMessage'
      required:
        - kind
        - timestamp
        - system
      example:
        kind: status_update
        timestamp: 1732627200000
        system:
          schema: v1
          seq: 42
          epoch: instance-abc123-1732620000
          full: false
          instance_id: instance-abc123
          version: v0.4.2
          platform:
            os: linux
            arch: amd64
            go: go1.23.1
          status:
            mode: ready
            uptime_s: 3605

    AgentUpdateMessage:
      type: object
      description: Message sent by an agent to update its status and metadata.
      properties:
        schema:
          type: string
          example: v1
        seq:
          type: integer
          description: Monotonically increasing sequence number for updates.
          example: 42
        epoch:
          type: string
          description: Unique epoch identifier for this agent session.
          example: instance-abc123-1732620000
        full:
          type: boolean
          description: True if this message is a full status snapshot.
          example: false
        instance_id:
          type: string
          description: Unique identifier of the instance.
          example: instance-abc123
        agent_version:
          type: string
          description: Version of the agent software.
          example: v0.4.2
        platform:
          type: object
          description: Platform information.
          properties:
            os:
              type: string
              example: linux
            arch:
              type: string
              example: amd64
            go:
              type: string
              description: Go runtime version.
              example: go1.23.1
        status:
          type: object
          description: Current status and metrics.
          properties:
            mode:
              type: string
              description: Agent mode.
              example: ready
            uptime_s:
              type: integer
              description: Uptime in seconds.
              example: 3605
      required:
        - schema
        - seq
        - epoch
        - full
        - instance_id
        - version
        - platform
        - status
      example:
        schema: v1
        seq: 42
        epoch: instance-abc123-1732620000
        full: false
        instance_id: instance-abc123
        version: v0.4.2
        platform:
          os: linux
          arch: amd64
          go: go1.23.1
        status:
          mode: ready
          uptime_s: 3605

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        picture:
          type: string
          nullable: true
        provider:
          type: string
          enum: [google, github, microsoft, email]
        metadata:
          type: object
          additionalProperties: true

    Cluster:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        roles:
          type: object
          additionalProperties: true

    Instance:
      type: object
      properties:
        id:
          type: string
        clusterId:
          type: string
        tag:
          type: string

    ClientCertUpdate:
      type: object
      required: [pem, spki_sha256, subject, not_after]
      properties:
        pem:
          type: string
          format: pem
        spki_sha256:
          type: string
          description: Base64-encoded SHA-256 hash of the certificate's SPKI
        subject:
          type: string
        not_after:
          type: string
          format: date-time

    NotificationEvent:
      type: string
      description: Canonical code for a notification event.
      enum:
        - instance.created
        - instance.modified
        - instance.deleted
        - cluster.modified
        - cluster.user_invited
        - cluster.invite_revoked
        - cluster.invite_accepted
        - cluster.invite_declined
        - cluster.removed_user
        - cluster.user_role_changed
        - cluster.ownership_transferred
        - auth.session_created

    NotificationEventArray:
      type: array
      description: |
        Array of notification event codes that are enabled for a given integration.
        
        Each item MUST be a valid `NotificationEvent` value.
      items:
        $ref: '#/components/schemas/NotificationEvent'
      example:
        - instance.created
        - instance.modified
        - instance.deleted
        - cluster.invite_accepted

    LogEntry:
      type: object
      description: Structured log entry parsed from daemon JSON logs.
      properties:
        time:
          type: string
          description: RFC3339 timestamp of the log entry.
          example: "2025-11-28T16:52:03.436565635Z"
        level:
          type: string
          description: Log level.
          enum: [DEBUG, INFO, WARN, ERROR]
          example: DEBUG
        msg:
          type: string
          description: Log message.
          example: "syncer: received message"
      additionalProperties: true

    LogChunk:
      type: object
      description: Chunk of structured log entries streamed over WebSocket.
      properties:
        streamId:
          type: string
          description: Unique stream identifier (ULID).
        path:
          type: string
          description: Log file path.
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LogEntry'
        eof:
          type: boolean
          description: True if the stream has ended.
        hasMore:
          type: boolean
          description: True if more historical logs are available after this chunk.
        offset:
          type: integer
          format: int64
          description: Byte offset in the log file after this chunk.
        timestamp:
          type: integer
          format: int64
          description: Milliseconds since Unix epoch when this chunk was sent by Base.

    LogStreamRequest:
      type: object
      description: Request body for starting a log stream from an instance.
      required: [path]
      properties:
        path:
          type: string
          description: Log file path to stream.

        mode:
          type: string
          enum: [tail, historical]
          default: tail
          description: |
            Streaming mode.
            - `tail`: follow new log entries from the end (or from `startFrom`).
            - `historical`: read a fixed number of entries starting at `startFrom`.
        startFrom:
          type: integer
          format: int64
          default: -1
          description: |
            Byte offset to start reading from.
            - `0` = beginning of file
            - `-1` = end of file (tail)
        limit:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Maximum number of log entries to read in historical mode.

paths:
  /v1/health:
    get:
      operationId: healthCheck
      tags:
        - Health
      summary: Health check
      x-requiredRole: public
      description: Returns basic health information for the API.
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    description: Semantic version of the running server (typically matches the released Git tag).
                    example: v0.1.20

  /v1/auth/login/{provider}:
    get:
      operationId: initiateOAuthLogin
      tags:
        - Auth
      summary: Initiate OAuth login
      x-requiredRole: public
      description: Redirects to the OAuth provider for authentication.
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [google, github, microsoft]
        - in: query
          name: redirect_to
          schema:
            type: string
            description: Path to redirect to after successful login.
      responses:
        '302':
          description: Redirect to OAuth provider
        '400':
          description: Invalid provider or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/callback/{provider}:
    get:
      operationId: oauthCallback
      tags:
        - Auth
      summary: OAuth callback
      x-requiredRole: public
      description: Handles the OAuth callback, creates user & session, and sets the `session` cookie.
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [google, github, microsoft]
        - in: query
          name: code
          required: true
          schema:
            type: string
        - in: query
          name: state
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to application with session set
        '400':
          description: Invalid state or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/login/email:
    post:
      operationId: requestEmailOtp
      tags:
        - Auth
      summary: Request email OTP
      x-requiredRole: public
      description: Sends a one-time code to the specified email address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email:
                            type: string
                            format: email
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/login/email/verify:
    post:
      operationId: verifyEmailOtp
      tags:
        - Auth
      summary: Verify email OTP
      x-requiredRole: public
      description: Verifies the OTP and creates a session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/logout:
    get:
      operationId: logout
      tags:
        - Auth
      summary: Logout
      x-requiredRole: viewer
      description: Deletes the current session and clears the `session` cookie.
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/users/me:
    get:
      operationId: getCurrentUser
      tags:
        - Users
      summary: Get current user
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Returns the current user and clusters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          clusters:
                            type: array
                            items:
                              $ref: '#/components/schemas/Cluster'
        '401':
          description: Not authenticated or invalid session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      operationId: updateCurrentUser
      tags:
        - Users
      summary: Update current user
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                picture:
                  type: string
                provider:
                  type: string
                  enum: [google, github, microsoft, email]
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not authenticated or invalid session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/clusters:
    get:
      operationId: listClusters
      tags:
        - Clusters
      summary: List clusters for current user
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      responses:
        '200':
          description: List of clusters for the current user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          clusters:
                            type: array
                            items:
                              $ref: '#/components/schemas/Cluster'

  /v1/clusters/users/invites:
    get:
      operationId: listClusterInvites
      tags:
        - Clusters
      summary: List pending cluster invites for current user
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Pending invites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users/invites/accept:
    get:
      operationId: acceptClusterInvite
      tags:
        - Clusters
      summary: Accept cluster invite
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users/invites/decline:
    get:
      operationId: declineClusterInvite
      tags:
        - Clusters
      summary: Decline cluster invite
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite declined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users:
    get:
      operationId: listClusterUsers
      tags:
        - Clusters
      summary: List users in a cluster
      x-requiredRole: admin
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
        - in: query
          name: showInvites
          schema:
            type: boolean
      responses:
        '200':
          description: Paginated list of users or invites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

    post:
      operationId: inviteClusterUsers
      tags:
        - Clusters
      summary: Add users to cluster (invite)
      x-requiredRole: admin
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [users]
              properties:
                users:
                  type: array
                  items:
                    type: string
                    format: email
      responses:
        '200':
          description: Invites sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

    patch:
      operationId: updateClusterRoles
      tags:
        - Clusters
      summary: Update cluster roles
      x-requiredRole: admin
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roles]
              properties:
                roles:
                  type: object
                  properties:
                    admin:
                      type: array
                      items:
                        type: string
                        format: email
                    developer:
                      type: array
                      items:
                        type: string
                        format: email
                    viewer:
                      type: array
                      items:
                        type: string
                        format: email
      responses:
        '200':
          description: Roles updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users/remove:
    post:
      operationId: removeClusterUsers
      tags:
        - Clusters
      summary: Remove users from cluster
      x-requiredRole: admin
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [users]
              properties:
                users:
                  type: array
                  items:
                    type: string
                    description: User ULID
      responses:
        '200':
          description: Users removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users/owner:
    post:
      operationId: transferClusterOwnership
      tags:
        - Clusters
      summary: Transfer cluster ownership
      x-requiredRole: owner
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newOwnerId]
              properties:
                newOwnerId:
                  type: string
                  description: User ULID of the new owner
                previousOwnerRole:
                  type: string
                  enum: [admin, developer, viewer]
                  default: viewer
      responses:
        '200':
          description: Ownership transferred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/integrations:
    get:
      operationId: listClusterIntegrations
      tags:
        - Clusters
      summary: List cluster integrations
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Integrations for the cluster
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          remote:
                            type: object
                            properties:
                              gitHub:
                                type: object
                                nullable: true
                              gitLab:
                                type: object
                                nullable: true
                              bitBucket:
                                type: object
                                nullable: true
                          notification:
                            type: object
                            properties:
                              discord:
                                type: object
                                nullable: true
                                properties:
                                  webhookUrl:
                                    type: string
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                              slack:
                                type: object
                                nullable: true
                                properties:
                                  webhookUrl:
                                    type: string
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                              customWebhook:
                                type: object
                                nullable: true
                                properties:
                                  webhookUrl:
                                    type: string
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                              email:
                                type: object
                                nullable: true
                                properties:
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'

  /v1/integrations/list:
    get:
      operationId: listIntegrations
      tags:
        - Clusters
      summary: List all integrations for the current user's cluster
      x-requiredRole: developer
      security:
        - sessionCookie: []
      responses:
        '200':
          description: All integrations for the cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/integrations/github/webhook:
    post:
      operationId: handleGitHubWebhook
      tags:
        - GitHub
      summary: Handle GitHub App webhook events
      x-requiredRole: public
      description: Receives and processes GitHub App webhook events for installation, workflow runs, and push events.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing or invalid signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/notifications/discord/setup:
    post:
      operationId: setupDiscordIntegration
      tags:
        - Notifications
      summary: Configure Discord webhook integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          description: Target cluster ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhookUrl, enabled]
              properties:
                webhookUrl:
                  type: string
                  format: uri
                  description: Discord webhook URL
                enabled:
                  type: boolean
                  description: Enable or disable Discord notifications
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Discord integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/notifications/slack/setup:
    post:
      operationId: setupSlackIntegration
      tags:
        - Notifications
      summary: Configure Slack webhook integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          description: Target cluster ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhookUrl, enabled]
              properties:
                webhookUrl:
                  type: string
                  format: uri
                  description: Slack webhook URL
                enabled:
                  type: boolean
                  description: Enable or disable Slack notifications
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Slack integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/notifications/webhook/setup:
    post:
      operationId: setupCustomWebhookIntegration
      tags:
        - Notifications
      summary: Configure custom webhook integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          description: Target cluster ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhookUrl, enabled]
              properties:
                webhookUrl:
                  type: string
                  format: uri
                  description: Custom webhook URL
                enabled:
                  type: boolean
                  description: Enable or disable custom webhook notifications
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Custom webhook integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/integrations/gitlab/setup:
    post:
      operationId: setupGitLabIntegration
      tags:
        - Clusters
      summary: Configure GitLab integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessToken, enabled]
              properties:
                accessToken:
                  type: string
                  description: GitLab personal access token
                enabled:
                  type: boolean
                  description: Enable or disable GitLab integration
      responses:
        '200':
          description: GitLab integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/integrations/bitbucket/setup:
    post:
      operationId: setupBitBucketIntegration
      tags:
        - Clusters
      summary: Configure BitBucket integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessToken, enabled]
              properties:
                accessToken:
                  type: string
                  description: BitBucket app password
                enabled:
                  type: boolean
                  description: Enable or disable BitBucket integration
      responses:
        '200':
          description: BitBucket integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/notifications/email/setup:
    post:
      operationId: setupEmailNotificationIntegration
      tags:
        - Notifications
      summary: Configure email notification integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          description: Target cluster ID
          schema:
            type: string
      description: |
        Configure email notifications for cluster events. By default, notifications are sent to the cluster owner's email.
        
        Available event codes:
        - `instance.created` - Instance created
        - `instance.modified` - Instance modified
        - `instance.deleted` - Instance deleted
        - `cluster.modified` - Cluster modified
        - `cluster.invite_accepted` - User joined cluster
        - `cluster.removed_user` - User removed from cluster
        - `cluster.user_role_changed` - User role changed
        - `cluster.ownership_transferred` - Ownership transferred
        - `auth.session_created` - User signed in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
                  description: Enable or disable email notifications
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Email notification integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/notifications/events/setup:
    post:
      operationId: setupNotificationEvents
      tags:
        - Notifications
      summary: Update subscribed notification events for an integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          description: Target cluster ID
          schema:
            type: string
      description: |
        Update which notification events are enabled for a specific integration
        (Discord, Slack, custom webhook, or email) in the current cluster.

        This endpoint only modifies the `events` map; it does not change
        webhook URLs or `enabled` flags.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [integration, events]
              properties:
                integration:
                  type: string
                  enum: [discord, slack, customWebhook, email]
                  description: Integration to update
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Notification events updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances:
    get:
      operationId: listInstances
      tags:
        - Instances
      summary: List instances for clusters the user has access to
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated list of instances
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'

    post:
      operationId: createInstance
      tags:
        - Instances
      summary: Create an instance
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clusterId, address, tag]
              properties:
                clusterId:
                  type: string
                  description: Cluster ULID
                address:
                  type: string
                  description: Instance ipv4 address
                tag:
                  type: string
                  minLength: 3
                  maxLength: 15
      responses:
        '202':
          description: Instance started provisioning
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          instance:
                            $ref: '#/components/schemas/Instance'
                          token:
                            type: string
                            description: One-time registration token for the instance
        '409':
          description: Instance address or tag already in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances/{instanceId}/logs/stream:
    post:
      operationId: streamInstanceLogs
      tags:
        - Instances
      summary: Start streaming logs from an instance (live or historical)
      description: |
        Enqueue a log streaming task for the specified instance. The daemon reads
        logs from the target server and streams structured log entries back to
        clients over WebSocket.

        This endpoint only initiates the stream. Log data itself is delivered
        over the instance WebSocket at `/v1/instances/{instanceId}/stream` using
        `log_chunk` messages.
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogStreamRequest'
      responses:
        '200':
          description: Log stream initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          streamId:
                            type: string
                            description: Stream identifier used with WebSocket subscription.
                          path:
                            type: string
                            description: Log file path.
                          mode:
                            type: string
                            enum: [tail, historical]
                          startFrom:
                            type: integer
                            format: int64
                          limit:
                            type: integer
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many log stream requests (rate limited)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances/{instanceId}:
    delete:
      operationId: deleteInstance
      tags:
        - Instances
      summary: Delete an instance
      x-requiredRole: owner
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Instance deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances/{instanceId}/tokens/rotate:
    post:
      operationId: agentRotateBootstrapToken
      tags:
        - Agents
      summary: Rotate bootstrap token
      x-requiredRole: owner
      description: |
        Rotates the bootstrap token for an instance. The request must
        supply the existing bootstrap token (which may be expired or previously used for bootstrap).
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Existing bootstrap token JWT
      responses:
        '200':
          description: New bootstrap token issued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
        '400':
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid, expired, or already used bootstrap token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/agent/token:
    post:
      operationId: agentRefreshToken
      tags:
        - Agents
      summary: Issue a short-lived access token for an instance agent
      x-requiredRole: public
      description: |
        Called by the dployr instance daemon to refresh its access token
        for calling other /v1/agent endpoints.

        The daemon must present a valid Bearer token that includes an
        `instance_id` claim. Base verifies the token and returns a new
        short-lived agent access token.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: New agent access token issued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
        '401':
          description: Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/deployments:
    get:
      operationId: listDeployments
      tags:
        - Deployments
      summary: List deployments
      x-requiredRole: viewer
      description: Lists deployments for the current user's clusters. Implementation is currently TODO in the code.
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Deployments (may be an empty list)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/github/webhook:
    post:
      operationId: githubWebhook
      tags:
        - GitHub
      summary: GitHub webhook
      x-requiredRole: public
      description: Handles GitHub App webhook events including installation, meta, workflow_run, and push.
      parameters:
        - in: header
          name: x-hub-signature-256
          required: true
          schema:
            type: string
        - in: header
          name: x-github-event
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad or missing signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/runtime/events:
    get:
      operationId: getRuntimeEvents
      tags:
        - Runtime
      summary: Get runtime events for a cluster
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
        - in: query
          name: type
          schema:
            type: string
          description: Optional event type filter.
        - in: query
          name: search
          schema:
            type: string
          description: |
            Optional free-text search across event payloads.

            The search string may match against:
              - event type identifiers
              - instance IDs or names
              - cluster IDs or names
              - log or message text (where applicable)
              - other indexed metadata fields

            Search behavior, matching fields, and operators are
            implementation-dependent and may evolve over time.
        - in: query
          name: sort
          schema:
            type: string
            enum: [newest, oldest]
          description: Sort order for events. Defaults to newest.
        - in: query
          name: window
          schema:
            type: string
            enum: [all, 24h, 7d, 30d]
          description: Time window to filter events by timestamp. Defaults to all.
      responses:
        '200':
          description: Paginated list of runtime events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Missing clusterId or invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not authenticated or invalid session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permission for cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/clusters/{id}/remotes:
    get:
      operationId: listClusterRemotes
      tags:
        - Clusters
      summary: List GitHub remotes for a cluster. GitHub integration is required for this endpoint to work. Visit https://app.dployr.io/clusters/{id}/settings/integrations to manage GitHub integration.
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated list of GitHub remotes for the cluster
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'
        '500':
          description: Failed to list remotes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/github/connection/manage:
    get:
      operationId: manageGithubConnection
      tags:
        - GitHub
      summary: Manage GitHub connection
      x-requiredRole: public
      description: Redirects the user to GitHub to manage their connection to the Dployr GitHub App.
      responses:
        '302':
          description: Redirect to GitHub connection management page

  /v1/domains:
    post:
      operationId: registerInstanceDomain
      tags:
        - Domains
      summary: Register instance domain
      x-requiredRole: public
      description: Registers an instance using a one-time token issued by the base service, during instance creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Instance registered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          instanceId:
                            type: string
                          issuer:
                            type: string
                          audience:
                            type: string
                            example: dployr-instance
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/jwks/.well-known/jwks.json:
    get:
      operationId: getJwksKeys
      tags:
        - Auth
      summary: Get JWKS public keys
      x-requiredRole: public
      description: Returns the JSON Web Key Set (JWKS) used to verify instance tokens.
      security: []
      responses:
        '200':
          description: JWKS public keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        kty:
                          type: string
                          example: RSA
                        use:
                          type: string
                          example: sig
                        alg:
                          type: string
                          example: RS256
                        n:
                          type: string
                        e:
                          type: string

  /v1/instances/{instanceId}/stream:
    get:
      operationId: instanceStatusStream
      tags:
        - Instances
      summary: Open WebSocket for instance status streaming (client)
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      description: |
        Upgrades to a WebSocket used by the web client to subscribe to
        real-time status updates for a specific instance.

        Updates are **ephemeral** – once connected, real-time agent
        status updates are pushed from the instance's Durable Object.

        WebSocket messages:

        - Client sends: `{"kind":"client_subscribe"}` once after
          connecting.
        - Server sends status updates whenever the agent reports new
          status for the instance. Messages conform to the
          `StatusUpdateMessage` schema, for example:

          ```json
          {
            "kind": "status_update",
            "timestamp": 1764276549826,
            "update": {
              "schema": "v1",
              "seq": 195,
              "epoch": "01KAZT8S6BSZFEDP08D0CZB781-1764270684",
              "full": false,
              "instance_id": "01KAZT8S6BSZFEDP08D0CZB781",
              "build_info": {
                "version": "0.4.6-beta.3",
                "commit": "ef9476e62733e29a7915475ae3ac983c376a203d",
                "date": "2025-11-27T19:09:13Z",
                "go_version": "go1.24.10"
              },
              "platform": {
                "os": "linux",
                "arch": "amd64"
              },
              "status": {
                "status": "healthy",
                "mode": "ready",
                "uptime": "5864",
                "services": {
                  "total": 0,
                  "running": 0,
                  "stopped": 0
                },
                "proxy": {
                  "status": "running",
                  "routes": 0
                },
                "health": {
                  "overall": "down",
                  "ws": "ok",
                  "tasks": "ok",
                  "auth": "down"
                },
                "debug": {
                  "ws": {
                    "connected": true,
                    "last_connect_at": "2025-11-27T19:11:25Z",
                    "reconnects_since_start": 0
                  },
                  "tasks": {
                    "inflight": 0,
                    "done_unsent": 0,
                    "last_task_id": "01KB3H0NXHNDXT10XPTTSNBKPR",
                    "last_task_status": "done",
                    "last_task_dur_ms": 195,
                    "last_task_at": "2025-11-27T20:45:40Z"
                  },
                  "auth": {
                    "agent_token_age_s": 5864,
                    "agent_token_expires_in_s": 0,
                    "bootstrap_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImJhc2Uta2V5In0.eyJpbnN0YW5jZV9pZCI6IjAxS0"
                  },
                  "system": {
                    "cpu_count": 1,
                    "mem_total_bytes": 889192448,
                    "mem_used_bytes": 274726912,
                    "mem_free_bytes": 459276288,
                    "disks": [
                      {
                        "filesystem": "/dev/root",
                        "mountpoint": "/",
                        "size_bytes": 31138512896,
                        "used_bytes": 2362232012,
                        "available_bytes": 28991029248
                      },
                      {
                        "filesystem": "tmpfs",
                        "mountpoint": "/dev/shm",
                        "size_bytes": 445644800,
                        "available_bytes": 445644800
                      },
                      {
                        "filesystem": "tmpfs",
                        "mountpoint": "/run",
                        "size_bytes": 178257920,
                        "used_bytes": 1011712,
                        "available_bytes": 177209344
                      },
                      {
                        "filesystem": "tmpfs",
                        "mountpoint": "/run/lock",
                        "size_bytes": 5242880,
                        "available_bytes": 5242880
                      },
                      {
                        "filesystem": "efivarfs",
                        "mountpoint": "/sys/firmware/efi/efivars",
                        "size_bytes": 131072,
                        "used_bytes": 39936,
                        "available_bytes": 87040
                      },
                      {
                        "filesystem": "/dev/sda15",
                        "mountpoint": "/boot/efi",
                        "size_bytes": 110100480,
                        "used_bytes": 6396313,
                        "available_bytes": 103809024
                      },
                      {
                        "filesystem": "/dev/sdb1",
                        "mountpoint": "/mnt",
                        "size_bytes": 4187593113,
                        "used_bytes": 28672,
                        "available_bytes": 3972844748
                      },
                      {
                        "filesystem": "tmpfs",
                        "mountpoint": "/run/user/1000",
                        "size_bytes": 89128960,
                        "used_bytes": 4096,
                        "available_bytes": 89128960
                      }
                    ]
                  }
                }
              }
            }
          }
          ```
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket protocol upgrade
        '400':
          description: Missing clusterId, unauthorized cluster access, or invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/agent/instances/{instanceId}/ws:
    get:
      operationId: agentTasksWebSocket
      tags:
        - Agents
      summary: Open WebSocket for instance tasks
      x-requiredRole: public
      description: |
        Upgrades to a WebSocket used by the dployr instance daemon to
        sync tasks between base and instance in real time.

        The daemon must include a Bearer agent access token in the
        `Authorization` header. On successful authentication and
        instance lookup, the connection is upgraded and pinned to the
        instance's Durable Object.

        The WebSocket payloads are small JSON messages with a `kind`
        field:

        - `{"kind":"pull"}`: Daemon requests pending tasks.
        - `{"kind":"task","items":[...]}`: Base delivers tasks.
        - `{"kind":"ack","ids":["..."]}`: Daemon acknowledges
          completed task IDs.

        Each task item uses a canonical task address of the form
        `<path>:<method>`, for example `system/status?showCompleted=true:put`.
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket protocol upgrade
        '400':
          description: Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'