# Copyright 2025 Emmanuel Madehin
# SPDX-License-Identifier: Apache-2.0

openapi: 3.0.4
info:
  title: Dployr Base API
  version: 1.0.0
  description: |
    Your app, your server, your rules!
    
    ## Authentication
    Authenticate using OAuth2.0 with providers like Google, GitHub, Microsoft,
    or via email. Session-based authentication with a cookie.

    ### Authentication Flow
    See https://docs.dployr.io/auth for more details.
    
    ## Authorization
    Role-based access control with four levels:
    - **Owner**: Full system control, can manage admins
    - **Admin**: Infrastructure management, user management, secrets
    - **Developer**: Deploy apps, view logs and events
    - **Viewer**: Read-only access to services

    See https://docs.dployr.io/auth for more details.

    ## Rate limiting
    To protect the service, Dployr Base applies per-user rate limits:

    - **Global API limit**: By default, each authenticated user (or IP for
      unauthenticated traffic) can make up to **100 requests per minute** to
      `/v1/*` endpoints.
    - **Log streaming initiation**: `POST /v1/instances/{instanceId}/logs/stream`
      is more strictly limited to **10 requests per minute** per user, since each
      request can start a daemon log streaming task.
    - **WebSocket log chunks**: Log data itself is delivered over the
      `/v1/instances/{instanceId}/stream` WebSocket as `log_chunk` events. The
      server enforces internal limits on how many chunks per second are processed
      per stream to avoid abuse.

    When a client exceeds a limit, the API returns **HTTP 429 Too Many Requests**
    with an `ErrorResponse` payload and may include `Retry-After` and
    `X-RateLimit-*` headers indicating when it is safe to retry.

servers:
  - url: https://base.dployr.dev
    description: Development
  - url: https://base.dployr.io
    description: Production

tags:
  - name: Health
    description: Service health checks.
  - name: Auth
    description: Authentication and session management.
  - name: Users
    description: Current user profile.
  - name: Clusters
    description: Cluster membership, roles, and integrations.
  - name: Instances
    description: Base instances and logs.
  - name: Domains
    description: Instance domains and bootstrap registration.
  - name: Deployments
    description: Deployment history and status.
  - name: Integrations
    description: VCS and notification integrations setup and management.
  - name: Notifications
    description: Notification integrations and event subscriptions.
  - name: GitHub
    description: GitHub App webhooks.
  - name: Runtime
    description: Runtime events and activity.
  - name: Agents
    description: Instance reporting status and polling for tasks.

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        code:
          type: string
        helpLink:
          type: string
          format: uri
        errors:
          type: array
          items:
            type: object
            additionalProperties: true

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
        data:
          description: Response payload
          nullable: true
          type: object

    PaginatedResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        pagination:
          type: object
          properties:
            page:
              type: integer
              minimum: 1
            pageSize:
              type: integer
              minimum: 1
            totalItems:
              type: integer
              minimum: 0
            totalPages:
              type: integer
              minimum: 0
            hasNextPage:
              type: boolean
            hasPreviousPage:
              type: boolean

    StatusUpdateMessage:
      type: object
      description: WebSocket message sent to clients with the latest system status.
      properties:
        kind:
          type: string
          enum: [status_update]
        timestamp:
          type: integer
          format: int64
          description: Milliseconds since Unix epoch.
        system:
          $ref: '#/components/schemas/AgentUpdateMessage'
      required:
        - kind
        - timestamp
        - system
      example:
        kind: status_update
        timestamp: 1732627200000
        system:
          schema: v1
          seq: 42
          epoch: instance-abc123-1732620000
          full: false
          instance_id: instance-abc123
          version: v0.4.2
          platform:
            os: linux
            arch: amd64
            go: go1.23.1
          status:
            mode: ready
            uptime_s: 3605

    AgentUpdateMessage:
      type: object
      description: Message sent by an agent to update its status and metadata.
      properties:
        schema:
          type: string
          example: v1
        seq:
          type: integer
          description: Monotonically increasing sequence number for updates.
          example: 42
        epoch:
          type: string
          description: Unique epoch identifier for this agent session.
          example: instance-abc123-1732620000
        full:
          type: boolean
          description: True if this message is a full status snapshot.
          example: false
        instance_id:
          type: string
          description: Unique identifier of the instance.
          example: instance-abc123
        agent_version:
          type: string
          description: Version of the agent software.
          example: v0.4.2
        platform:
          type: object
          description: Platform information.
          properties:
            os:
              type: string
              example: linux
            arch:
              type: string
              example: amd64
            go:
              type: string
              description: Go runtime version.
              example: go1.23.1
        status:
          type: object
          description: Current status and metrics.
          properties:
            mode:
              type: string
              description: Agent mode.
              example: ready
            uptime_s:
              type: integer
              description: Uptime in seconds.
              example: 3605
      required:
        - schema
        - seq
        - epoch
        - full
        - instance_id
        - version
        - platform
        - status
      example:
        schema: v1
        seq: 42
        epoch: instance-abc123-1732620000
        full: false
        instance_id: instance-abc123
        version: v0.4.2
        platform:
          os: linux
          arch: amd64
          go: go1.23.1
        status:
          mode: ready
          uptime_s: 3605

    DaemonTask:
      type: object
      description: Task structure sent from base to daemon via WebSocket.
      properties:
        ID:
          type: string
          description: Unique task identifier (typically a ULID or streamId).
          example: instance-abc123:/var/log/app.log
        Type:
          type: string
          description: Task address in format "path:method" (e.g., "logs/stream:post").
          example: logs/stream:post
        Payload:
          type: object
          description: Task-specific payload data.
          additionalProperties: true
        Status:
          type: string
          enum: [pending, in_progress, done, failed]
          description: Current status of the task.
          example: pending
      required:
        - ID
        - Type
        - Payload
        - Status

    LogStreamPayload:
      type: object
      description: Payload for log streaming tasks sent to daemon.
      properties:
        path:
          type: string
          description: Path to the log file on the instance.
          example: /var/log/app.log
        startOffset:
          type: integer
          description: Optional byte offset to start reading from.
          example: 0
        limit:
          type: integer
          description: Optional maximum number of log entries to return.
          example: 100
        streamId:
          type: string
          description: Unique identifier for this log stream (instanceId:path).
          example: instance-abc123:/var/log/app.log
      required:
        - path
        - streamId

    Remote:
      type: object
      description: Remote repository information from integrated VCS providers.
      properties:
        url:
          type: string
          description: Repository URL.
          example: https://github.com/user/repo
        branch:
          type: string
          description: Default branch name.
          example: main
        commit_hash:
          type: string
          nullable: true
          description: Optional latest commit hash.
          example: abc123def456
        avatar_url:
          type: string
          nullable: true
          description: Optional avatar or icon URL for the repository.
          example: https://avatars.githubusercontent.com/u/123456
      required:
        - url
        - branch

    RemoteListResult:
      type: object
      description: Remote repositories grouped by VCS provider.
      properties:
        provider:
          type: string
          enum: [github, gitlab, bitbucket]
          description: VCS provider name
        remotes:
          type: array
          description: List of repositories from this provider
          items:
            $ref: '#/components/schemas/Remote'
        error:
          type: string
          nullable: true
          description: Error message if provider fetch failed
      required:
        - provider
        - remotes

    DeploymentPayload:
      type: object
      description: Payload for deployment tasks sent to daemon.
      properties:
        name:
          type: string
          minLength: 1
          description: Deployment name.
        description:
          type: string
          nullable: true
          description: Optional deployment description.
        userId:
          type: string
          minLength: 1
          description: User ID initiating the deployment.
        source:
          type: string
          enum: [remote, image]
          description: Deployment source.
        runtime:
          type: string
          minLength: 1
          description: Runtime identifier.
        version:
          type: string
          nullable: true
          description: Optional runtime version.
        runCmd:
          type: string
          nullable: true
          description: Optional command used to run the app.
        buildCmd:
          type: string
          nullable: true
          description: Optional command used to build the app.
        port:
          type: integer
          minimum: 1
          description: Optional app port.
        workingDir:
          type: string
          nullable: true
          description: Optional working directory.
        staticDir:
          type: string
          nullable: true
          description: Optional static files directory.
        image:
          type: string
          nullable: true
          description: Optional container image reference when source is image.
        envVars:
          type: object
          description: Optional environment variables.
          additionalProperties:
            type: string
        secrets:
          type: object
          description: Optional secret environment variables.
          additionalProperties:
            type: string
        remote:
          type: object
          description: Optional remote source configuration.
          additionalProperties: true
        domain:
          type: string
          nullable: true
          description: Optional custom domain.
      required:
        - name
        - userId
        - source
        - runtime

    AgentTaskMessage:
      type: object
      description: WebSocket message delivering tasks from base to daemon.
      properties:
        kind:
          type: string
          enum: [task]
          example: task
        items:
          type: array
          description: Array of tasks to execute.
          items:
            $ref: '#/components/schemas/DaemonTask'
      required:
        - kind
        - items
      example:
        kind: task
        items:
          - ID: instance-abc123:/var/log/app.log
            Type: logs/stream:post
            Payload:
              path: /var/log/app.log
              streamId: instance-abc123:/var/log/app.log
              startOffset: 0
            Status: pending

    AgentPullMessage:
      type: object
      description: WebSocket message from daemon requesting pending tasks.
      properties:
        kind:
          type: string
          enum: [pull]
          example: pull
      required:
        - kind

    AgentAckMessage:
      type: object
      description: WebSocket message from daemon acknowledging completed tasks.
      properties:
        kind:
          type: string
          enum: [ack]
          example: ack
        ids:
          type: array
          description: Array of completed task IDs.
          items:
            type: string
          example: [instance-abc123:/var/log/app.log]
      required:
        - kind
        - ids

    LogChunkMessage:
      type: object
      description: WebSocket message from daemon containing log data.
      properties:
        kind:
          type: string
          enum: [log_chunk]
          example: log_chunk
        streamId:
          type: string
          description: Stream identifier matching the original request.
          example: instance-abc123:/var/log/app.log
        lines:
          type: array
          description: Array of log lines.
          items:
            type: string
        offset:
          type: integer
          description: Current byte offset in the log file.
        eof:
          type: boolean
          description: True if end of file reached.
      required:
        - kind
        - streamId

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        picture:
          type: string
          nullable: true
        provider:
          type: string
          enum: [google, github, microsoft, email]
        metadata:
          type: object
          additionalProperties: true

    Cluster:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        roles:
          type: object
          additionalProperties: true

    Instance:
      type: object
      properties:
        id:
          type: string
        clusterId:
          type: string
        tag:
          type: string

    ClientCertUpdate:
      type: object
      required: [pem, spki_sha256, subject, not_after]
      properties:
        pem:
          type: string
          format: pem
        spki_sha256:
          type: string
          description: Base64-encoded SHA-256 hash of the certificate's SPKI
        subject:
          type: string
        not_after:
          type: string
          format: date-time

    NotificationEvent:
      type: string
      description: Canonical code for a notification event.
      enum:
        - instance.created
        - instance.modified
        - instance.deleted
        - cluster.modified
        - cluster.user_invited
        - cluster.invite_revoked
        - cluster.invite_accepted
        - cluster.invite_declined
        - cluster.removed_user
        - cluster.user_role_changed
        - cluster.ownership_transferred
        - auth.session_created

    NotificationEventArray:
      type: array
      description: |
        Array of notification event codes that are enabled for a given integration.
        
        Each item MUST be a valid `NotificationEvent` value.
      items:
        $ref: '#/components/schemas/NotificationEvent'
      example:
        - instance.created
        - instance.modified
        - instance.deleted
        - cluster.invite_accepted

    LogEntry:
      type: object
      description: Structured log entry parsed from daemon JSON logs.
      properties:
        time:
          type: string
          description: RFC3339 timestamp of the log entry.
          example: "2025-11-28T16:52:03.436565635Z"
        level:
          type: string
          description: Log level.
          enum: [DEBUG, INFO, WARN, ERROR]
          example: DEBUG
        msg:
          type: string
          description: Log message.
          example: "syncer: received message"
      additionalProperties: true

    LogChunk:
      type: object
      description: Chunk of structured log entries streamed over WebSocket.
      properties:
        streamId:
          type: string
          description: Unique stream identifier (ULID).
        path:
          type: string
          description: Log file path.
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LogEntry'
        eof:
          type: boolean
          description: True if the stream has ended.
        hasMore:
          type: boolean
          description: True if more historical logs are available after this chunk.
        offset:
          type: integer
          format: int64
          description: Byte offset in the log file after this chunk.
        timestamp:
          type: integer
          format: int64
          description: Milliseconds since Unix epoch when this chunk was sent by Base.

    LogStreamRequest:
      type: object
      description: Request body for starting a log stream from an instance.
      required: [path]
      properties:
        path:
          type: string
          description: Log file path to stream.

        mode:
          type: string
          enum: [tail, historical]
          default: tail
          description: |
            Streaming mode.
            - `tail`: follow new log entries from the end (or from `startFrom`).
            - `historical`: read a fixed number of entries starting at `startFrom`.
        startFrom:
          type: integer
          format: int64
          default: -1
          description: |
            Byte offset to start reading from.
            - `0` = beginning of file
            - `-1` = end of file (tail)
        limit:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Maximum number of log entries to read in historical mode.

    WebSocketStats:
      type: object
      description: WebSocket connection statistics for monitoring and observability.
      properties:
        totalConnections:
          type: integer
          description: Total number of active WebSocket connections.
          example: 42
        agentConnections:
          type: integer
          description: Number of active agent connections.
          example: 5
        clientConnections:
          type: integer
          description: Number of active client connections.
          example: 37
        pendingRequests:
          type: integer
          description: Total number of pending requests across all connections.
          example: 12
        logStreams:
          type: integer
          description: Total number of active log streams.
          example: 8
        requestsPerCluster:
          type: object
          description: Pending request count per cluster.
          additionalProperties:
            type: integer
          example:
            cluster-1: 5
            cluster-2: 7
        uptime:
          type: integer
          description: WebSocket service uptime in seconds.
          example: 3600

paths:
  /v1/health:
    get:
      operationId: healthCheck
      tags:
        - Health
      summary: Health check
      x-requiredRole: public
      description: Returns basic health information for the API.
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    description: Semantic version of the running server (typically matches the released Git tag).
                    example: v0.1.20

  /v1/ws/stats:
    get:
      operationId: getWebSocketStats
      tags:
        - Health
      summary: WebSocket connection statistics
      x-requiredRole: public
      description: Returns real-time WebSocket connection statistics for monitoring and observability.
      responses:
        '200':
          description: WebSocket statistics retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      data:
                        $ref: '#/components/schemas/WebSocketStats'
                      timestamp:
                        type: string
                        format: date-time
        '503':
          description: WebSocket handler not initialized
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: WebSocket handler not available

  /v1/auth/login/{provider}:
    get:
      operationId: initiateOAuthLogin
      tags:
        - Auth
      summary: Initiate OAuth login
      x-requiredRole: public
      description: Redirects to the OAuth provider for authentication.
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [google, github, microsoft]
        - in: query
          name: redirect_to
          schema:
            type: string
            description: Path to redirect to after successful login.
      responses:
        '302':
          description: Redirect to OAuth provider
        '400':
          description: Invalid provider or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/callback/{provider}:
    get:
      operationId: oauthCallback
      tags:
        - Auth
      summary: OAuth callback
      x-requiredRole: public
      description: Handles the OAuth callback, creates user & session, and sets the `session` cookie.
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [google, github, microsoft]
        - in: query
          name: code
          required: true
          schema:
            type: string
        - in: query
          name: state
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to application with session set
        '400':
          description: Invalid state or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/login/email:
    post:
      operationId: requestEmailOtp
      tags:
        - Auth
      summary: Request email OTP
      x-requiredRole: public
      description: Sends a one-time code to the specified email address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email:
                            type: string
                            format: email
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/login/email/verify:
    post:
      operationId: verifyEmailOtp
      tags:
        - Auth
      summary: Verify email OTP
      x-requiredRole: public
      description: Verifies the OTP and creates a session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/logout:
    get:
      operationId: logout
      tags:
        - Auth
      summary: Logout
      x-requiredRole: viewer
      description: Deletes the current session and clears the `session` cookie.
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/users/me:
    get:
      operationId: getCurrentUser
      tags:
        - Users
      summary: Get current user
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Returns the current user and clusters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          clusters:
                            type: array
                            items:
                              $ref: '#/components/schemas/Cluster'
        '401':
          description: Not authenticated or invalid session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      operationId: updateCurrentUser
      tags:
        - Users
      summary: Update current user
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                picture:
                  type: string
                provider:
                  type: string
                  enum: [google, github, microsoft, email]
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not authenticated or invalid session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/clusters:
    get:
      operationId: listClusters
      tags:
        - Clusters
      summary: List clusters for current user
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      responses:
        '200':
          description: List of clusters for the current user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          clusters:
                            type: array
                            items:
                              $ref: '#/components/schemas/Cluster'

  /v1/clusters/users/invites:
    get:
      operationId: listClusterInvites
      tags:
        - Clusters
      summary: List pending cluster invites for current user
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Pending invites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users/invites/accept:
    get:
      operationId: acceptClusterInvite
      tags:
        - Clusters
      summary: Accept cluster invite
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users/invites/decline:
    get:
      operationId: declineClusterInvite
      tags:
        - Clusters
      summary: Decline cluster invite
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite declined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users:
    get:
      operationId: listClusterUsers
      tags:
        - Clusters
      summary: List users in a cluster
      x-requiredRole: admin
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
        - in: query
          name: showInvites
          schema:
            type: boolean
      responses:
        '200':
          description: Paginated list of users or invites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

    post:
      operationId: inviteClusterUsers
      tags:
        - Clusters
      summary: Add users to cluster (invite)
      x-requiredRole: admin
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [users]
              properties:
                users:
                  type: array
                  items:
                    type: string
                    format: email
      responses:
        '200':
          description: Invites sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

    patch:
      operationId: updateClusterRoles
      tags:
        - Clusters
      summary: Update cluster roles
      x-requiredRole: admin
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roles]
              properties:
                roles:
                  type: object
                  properties:
                    admin:
                      type: array
                      items:
                        type: string
                        format: email
                    developer:
                      type: array
                      items:
                        type: string
                        format: email
                    viewer:
                      type: array
                      items:
                        type: string
                        format: email
      responses:
        '200':
          description: Roles updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users/remove:
    post:
      operationId: removeClusterUsers
      tags:
        - Clusters
      summary: Remove users from cluster
      x-requiredRole: admin
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [users]
              properties:
                users:
                  type: array
                  items:
                    type: string
                    description: User ULID
      responses:
        '200':
          description: Users removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/users/owner:
    post:
      operationId: transferClusterOwnership
      tags:
        - Clusters
      summary: Transfer cluster ownership
      x-requiredRole: owner
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newOwnerId]
              properties:
                newOwnerId:
                  type: string
                  description: User ULID of the new owner
                previousOwnerRole:
                  type: string
                  enum: [admin, developer, viewer]
                  default: viewer
      responses:
        '200':
          description: Ownership transferred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/clusters/{id}/integrations:
    get:
      operationId: listClusterIntegrations
      tags:
        - Clusters
      summary: List cluster integrations
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Integrations for the cluster
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          remote:
                            type: object
                            properties:
                              gitHub:
                                type: object
                                nullable: true
                              gitLab:
                                type: object
                                nullable: true
                              bitBucket:
                                type: object
                                nullable: true
                          notification:
                            type: object
                            properties:
                              discord:
                                type: object
                                nullable: true
                                properties:
                                  webhookUrl:
                                    type: string
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                              slack:
                                type: object
                                nullable: true
                                properties:
                                  webhookUrl:
                                    type: string
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                              customWebhook:
                                type: object
                                nullable: true
                                properties:
                                  webhookUrl:
                                    type: string
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                              email:
                                type: object
                                nullable: true
                                properties:
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'

  /v1/clusters/{id}/remotes:
    get:
      operationId: listClusterRemotes
      tags:
        - Clusters
      summary: List GitHub remotes for a cluster
      description: GitHub integration is required for this endpoint to work. Visit https://app.dployr.io/clusters/{id}/settings/integrations to manage GitHub integration.
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Cluster ID
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated list of GitHub remotes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Not authenticated or invalid session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/integrations/list:
    get:
      operationId: listIntegrations
      tags:
        - Integrations
      summary: List all integrations for a cluster
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID
      responses:
        '200':
          description: All integrations for the cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/integrations/github/webhook:
    post:
      operationId: handleGitHubWebhook
      tags:
        - GitHub
      summary: Handle GitHub App webhook events
      x-requiredRole: public
      description: Receives and processes GitHub App webhook events for installation, workflow runs, and push events.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing or invalid signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/integrations/github/install:
    get:
      operationId: initiateGitHubInstall
      tags:
        - Integrations
      summary: Initiate GitHub App installation
      x-requiredRole: developer
      security:
        - sessionCookie: []
      description: |
        Initiates the GitHub App installation flow. Stores the cluster ID, redirects to GitHub to install the app.
        
        After installation, GitHub redirects to `/v1/integrations/github/callback` which
        looks up the pending installation using the user's session and links it to the cluster.
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID to link the GitHub installation to
      responses:
        '302':
          description: Redirect to GitHub App installation page
          headers:
            Location:
              schema:
                type: string
                example: https://github.com/apps/dployr-io/installations/new
        '400':
          description: Missing clusterId parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/integrations/github/callback:
    get:
      operationId: handleGitHubCallback
      tags:
        - Integrations
      summary: GitHub App installation callback
      x-requiredRole: public
      security: []
      description: |
        Handles the redirect from GitHub after app installation.
        
        Uses the user's session to look up the pending installation from KV storage,
        fetches installation details from GitHub API, and saves the integration to the cluster.
        
        **Note**: This endpoint should be configured as the "Setup URL" in GitHub App settings.
      parameters:
        - in: query
          name: installation_id
          schema:
            type: string
          description: GitHub installation ID (provided by GitHub)
        - in: query
          name: setup_action
          schema:
            type: string
          description: GitHub setup action (install, update, etc.)
      responses:
        '302':
          description: Redirect to cluster integrations settings page
          headers:
            Location:
              schema:
                type: string
                example: https://app.dployr.dev/clusters/{cluster_id}/settings/integrations?success=github

  /v1/notifications/discord/setup:
    post:
      operationId: setupDiscordIntegration
      tags:
        - Notifications
      summary: Configure Discord webhook integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhookUrl, enabled]
              properties:
                webhookUrl:
                  type: string
                  format: uri
                  description: Discord webhook URL
                enabled:
                  type: boolean
                  description: Enable or disable Discord notifications
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Discord integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/notifications/slack/setup:
    post:
      operationId: setupSlackIntegration
      tags:
        - Notifications
      summary: Configure Slack webhook integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhookUrl, enabled]
              properties:
                webhookUrl:
                  type: string
                  format: uri
                  description: Slack webhook URL
                enabled:
                  type: boolean
                  description: Enable or disable Slack notifications
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Slack integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/notifications/webhook/setup:
    post:
      operationId: setupCustomWebhookIntegration
      tags:
        - Notifications
      summary: Configure custom webhook integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhookUrl, enabled]
              properties:
                webhookUrl:
                  type: string
                  format: uri
                  description: Custom webhook URL
                enabled:
                  type: boolean
                  description: Enable or disable custom webhook notifications
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Custom webhook integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/integrations/gitlab/setup:
    post:
      operationId: setupGitLabIntegration
      tags:
        - Integrations
      summary: Configure GitLab integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessToken, enabled]
              properties:
                accessToken:
                  type: string
                  description: GitLab personal access token
                enabled:
                  type: boolean
                  description: Enable or disable GitLab integration
      responses:
        '200':
          description: GitLab integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/integrations/bitbucket/setup:
    post:
      operationId: setupBitBucketIntegration
      tags:
        - Integrations
      summary: Configure BitBucket integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessToken, enabled]
              properties:
                accessToken:
                  type: string
                  description: BitBucket app password
                enabled:
                  type: boolean
                  description: Enable or disable BitBucket integration
      responses:
        '200':
          description: BitBucket integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/integrations/remotes:
    get:
      operationId: listAllRemotes
      tags:
        - Integrations
      summary: List all remotes from configured integrations
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID
      description: |
        Retrieves all remote repositories from all configured VCS integrations
        (GitHub, GitLab, BitBucket) for the specified cluster.
      responses:
        '200':
          description: Remotes from all configured integrations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          remotes:
                            type: array
                            description: Array of remote results grouped by provider
                            items:
                              $ref: '#/components/schemas/RemoteListResult'
        '401':
          description: Not authenticated or invalid session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/integrations/github/callback:
    get:
      operationId: handleGitHubOAuthCallback
      tags:
        - Integrations
      summary: GitHub OAuth callback handler
      x-requiredRole: public
      description: |
        The full URL to redirect to after a user authorizes a GitHub App installation.
        This endpoint handles the OAuth callback from GitHub and redirects the user
        to the cluster integrations settings page.
      security: []
      parameters:
        - in: query
          name: cluster_id
          required: true
          schema:
            type: string
          description: The cluster ID to redirect to
        - in: query
          name: code
          schema:
            type: string
          description: OAuth authorization code from GitHub
        - in: query
          name: state
          schema:
            type: string
          description: State parameter for CSRF protection
      responses:
        '302':
          description: Redirect to cluster integrations settings page
          headers:
            Location:
              schema:
                type: string
                example: https://app.dployr.dev/clusters/{cluster_id}/settings/integrations
        '400':
          description: Missing cluster_id parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/notifications/email/setup:
    post:
      operationId: setupEmailNotificationIntegration
      tags:
        - Notifications
      summary: Configure email notification integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID
      description: |
        Configure email notifications for cluster events. By default, notifications are sent to the cluster owner's email.
        
        Available event codes:
        - `instance.created` - Instance created
        - `instance.modified` - Instance modified
        - `instance.deleted` - Instance deleted
        - `cluster.modified` - Cluster modified
        - `cluster.invite_accepted` - User joined cluster
        - `cluster.removed_user` - User removed from cluster
        - `cluster.user_role_changed` - User role changed
        - `cluster.ownership_transferred` - Ownership transferred
        - `auth.session_created` - User signed in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
                  description: Enable or disable email notifications
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Email notification integration configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
  /v1/notifications/events/setup:
    post:
      operationId: setupNotificationEvents
      tags:
        - Notifications
      summary: Update subscribed notification events for an integration
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Target cluster ID
      description: |
        Update which notification events are enabled for a specific integration
        (Discord, Slack, custom webhook, or email) in the current cluster.

        This endpoint only modifies the `events` map; it does not change
        webhook URLs or `enabled` flags.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [integration, events]
              properties:
                integration:
                  type: string
                  enum: [discord, slack, customWebhook, email]
                  description: Integration to update
                events:
                  $ref: '#/components/schemas/NotificationEventArray'
      responses:
        '200':
          description: Notification events updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances:
    get:
      operationId: listInstances
      tags:
        - Instances
      summary: List instances for clusters the user has access to
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated list of instances
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'

    post:
      operationId: createInstance
      tags:
        - Instances
      summary: Create an instance
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clusterId, address, tag]
              properties:
                clusterId:
                  type: string
                  description: Cluster ULID
                address:
                  type: string
                  description: Instance ipv4 address
                tag:
                  type: string
                  minLength: 3
                  maxLength: 15
      responses:
        '202':
          description: Instance started provisioning
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          instance:
                            $ref: '#/components/schemas/Instance'
                          token:
                            type: string
                            description: One-time registration token for the instance
        '409':
          description: Instance address or tag already in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances/{instanceId}:
    delete:
      operationId: deleteInstance
      tags:
        - Instances
      summary: Delete an instance
      x-requiredRole: owner
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Instance deleted successfully
        '400':
          description: Missing clusterId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found

  /v1/agent/token:
    post:
      operationId: agentRefreshToken
      tags:
        - Agents
      summary: Issue a short-lived access token for an instance agent
      x-requiredRole: public
      description: |
        Called by the dployr instance daemon to refresh its access token
        for calling other /v1/agent endpoints.

        The daemon must present a valid Bearer token that includes an
        `instance_id` claim. Base verifies the token and returns a new
        short-lived agent access token.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: New agent access token issued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
        '401':
          description: Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/deployments:
    get:
      operationId: listDeployments
      tags:
        - Deployments
      summary: List deployments
      x-requiredRole: viewer
      description: Lists deployments for the current user's clusters. Implementation is currently TODO in the code.
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Deployments (may be an empty list)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/github/webhook:
    post:
      operationId: githubWebhook
      tags:
        - GitHub
      summary: GitHub webhook
      x-requiredRole: public
      description: Handles GitHub App webhook events including installation, meta, workflow_run, and push.
      parameters:
        - in: header
          name: x-hub-signature-256
          required: true
          schema:
            type: string
        - in: header
          name: x-github-event
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad or missing signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/runtime/compatibility/check:
    post:
      operationId: checkDaemonCompatibility
      tags:
        - Runtime
      summary: Check dployrd version compatibility
      x-requiredRole: public
      security: []
      description: |
        Validates whether dployrd installation's compatibility date meets the base server's
        requirements. This is a public endpoint that daemons can call without
        authentication to verify compatibility before connecting.

        The compatibility check uses date-based versioning (YYYY-MM-DD format).
        A dployrd installation is compatible if its compatibility_date is greater than or equal
        to the server's required LATEST_COMPATIBILITY_DATE.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - compatibility_date
              properties:
                compatibility_date:
                  type: string
                  pattern: '^\d{4}-\d{2}-\d{2}$'
                  description: Daemon's compatibility date in YYYY-MM-DD format.
                  example: "2025-11-23"
                version:
                  type: string
                  description: Optional daemon version string for logging/debugging.
                  example: "v0.4.6"
      responses:
        '200':
          description: Compatibility check result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          compatible:
                            type: boolean
                            description: Whether the daemon is compatible.
                          compatibilityDate:
                            type: string
                            description: The daemon's compatibility date.
                          version:
                            type: string
                            description: The daemon's version (if provided).
                          latestVersion:
                            type: string
                            description: Latest known daemon/base version tag used for upgrade level calculation.
                          upgradeLevel:
                            type: string
                            description: Upgrade level relative to latest_version (major, minor, patch, or none).
                          requiredCompatibilityDate:
                            type: string
                            description: The server's required compatibility date.
                          message:
                            type: string
                            description: Human-readable compatibility status message.
              examples:
                compatible:
                  value:
                    success: true
                    data:
                      compatible: true
                      compatibilityDate: "2025-11-23"
                      version: "v0.4.6"
                      latestVersion: "v0.4.6"
                      upgradeLevel: "none"
                      requiredCompatibilityDate: "2025-11-23"
                      message: "dployrd is supported"
                incompatible:
                  value:
                    success: true
                    data:
                      compatible: false
                      compatibilityDate: "2025-10-15"
                      version: "v0.3.2"
                      latestVersion: "v0.4.6"
                      upgradeLevel: "major"
                      requiredCompatibilityDate: "2025-11-23"
                      message: "dployrd requires compatibility_date 2025-11-23 (received: 2025-10-15)"
        '400':
          description: Invalid request body or date format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/runtime/versions:
    get:
      operationId: listRuntimeVersions
      tags:
        - Runtime
      summary: List available dployrd versions
      x-requiredRole: public
      security: []
      description: |
        Returns the list of published dployrd release tags from GitHub.

        By default this includes only stable releases. Pass `showPreReleases=true`
        to include prerelease versions as well.
      parameters:
        - in: query
          name: showPreReleases
          required: false
          schema:
            type: boolean
          description: If true, include prerelease versions in the results.
      responses:
        '200':
          description: Available versions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          latest:
                            type: string
                            nullable: true
                            description: Latest available version tag (first non-draft release).
                          versions:
                            type: array
                            description: Ordered list of available version tags (most recent first).
                            items:
                              type: string
                          oldestSupportedVersion:
                            type: string
                            nullable: true
                          includePreReleases:
                            type: boolean
                            description: Whether prerelease versions were included in this response.
              examples:
                default:
                  value:
                    success: true
                    message: Fetched available dployrd versions
                    data:
                      latest: v0.4.8
                      oldestSupportedVersion: v0.4.5
                      versions:
                        - v0.4.8
                        - v0.4.7
                        - v0.4.6
                        - v0.4.5
                      includePreReleases: false
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to fetch versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/runtime/events:
    get:
      operationId: getRuntimeEvents
      tags:
        - Runtime
      summary: Get runtime events for a cluster
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
        - in: query
          name: type
          schema:
            type: string
          description: Optional event type filter.
        - in: query
          name: search
          schema:
            type: string
          description: |
            Optional free-text search across event payloads.

            The search string may match against:
              - event type identifiers
              - instance IDs or names
              - cluster IDs or names
              - log or message text (where applicable)
              - other indexed metadata fields

            Search behavior, matching fields, and operators are
            implementation-dependent and may evolve over time.
        - in: query
          name: sort
          schema:
            type: string
            enum: [newest, oldest]
          description: Sort order for events. Defaults to newest.
        - in: query
          name: window
          schema:
            type: string
            enum: [all, 24h, 7d, 30d]
          description: Time window to filter events by timestamp. Defaults to all.
      responses:
        '200':
          description: Paginated list of runtime events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Missing clusterId or invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not authenticated or invalid session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permission for cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/clusters/{id}/remotes:
    get:
      operationId: listClusterRemotes
      tags:
        - Clusters
      summary: List GitHub remotes for a cluster.
      description: GitHub integration is required for this endpoint to work. Visit https://app.dployr.io/clusters/{id}/settings/integrations to manage GitHub integration.
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated list of GitHub remotes for the cluster
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'
        '500':
          description: Failed to list remotes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/github/connection/manage:
    get:
      operationId: manageGithubConnection
      tags:
        - GitHub
      summary: Manage GitHub connection
      x-requiredRole: public
        '302':
          description: Redirect to GitHub connection management page

  /v1/domains:
    post:
      operationId: createCustomDomain
      tags:
        - Domains
      summary: Create custom domain
      x-requiredRole: developer
      description: |
        Creates a custom domain with automatic DNS provider detection and optional OAuth setup.
        Returns the DNS records that need to be added to the domain's configuration.
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
                - instanceId
              properties:
                domain:
                  type: string
                  description: Domain name to register
                  example: example.com
                instanceId:
                  type: string
                  description: Instance ULID to associate with the domain
                  example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
      responses:
        '200':
          description: Domain created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          domain:
                            type: string
                          provider:
                            type: string
                            enum:
                              - cloudflare
                              - godaddy
                              - digitalocean
                              - route53
                              - namecheap
                              - google
                              - unknown
                          hasOAuth:
                            type: boolean
                          record:
                            type: object
                            description: A record pointing to instance IP address
                            properties:
                              type:
                                type: string
                                enum: [A]
                              name:
                                type: string
                              value:
                                type: string
                                description: Instance IPv4 address
                              ttl:
                                type: integer
                          verification:
                            type: object
                            description: TXT record for domain ownership verification
                            properties:
                              type:
                                type: string
                                enum: [TXT]
                              name:
                                type: string
                              value:
                                type: string
                          autoSetupUrl:
                            type: string
                            nullable: true
                          manualGuideUrl:
                            type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Domain already registered to another instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/domains/register:
    post:
      operationId: registerInstanceDomain
      tags:
        - Domains
      summary: Register instance domain
      x-requiredRole: public
      description: Registers an instance using a one-time token issued by the base service, during instance creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Instance registered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          instanceId:
                            type: string
                          issuer:
                            type: string
                          audience:
                            type: string
                            example: dployr-instance
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/domains/{domain}:
    get:
      operationId: getDomain
      tags:
        - Domains
      summary: Get domain details
      x-requiredRole: viewer
      description: |
        Returns the current status of a domain. For pending domains, includes the DNS records
        that need to be added to complete verification.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: domain
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Domain status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          domain:
                            type: string
                          status:
                            type: string
                            enum: [pending, active]
                          instanceId:
                            type: string
                          provider:
                            type: string
                            nullable: true
                          createdAt:
                            type: integer
                            format: int64
                          activatedAt:
                            type: integer
                            format: int64
                            nullable: true
                          record:
                            type: object
                            nullable: true
                            description: A record to add (only present for pending domains)
                            properties:
                              type:
                                type: string
                                enum: [A]
                              name:
                                type: string
                              value:
                                type: string
                                description: Instance IPv4 address
                              ttl:
                                type: integer
                          verification:
                            type: object
                            nullable: true
                            description: TXT verification record (only present for pending domains)
                            properties:
                              type:
                                type: string
                                enum: [TXT]
                              name:
                                type: string
                              value:
                                type: string
                          autoSetupUrl:
                            type: string
                            nullable: true
                            description: OAuth setup URL (only present for pending domains with OAuth support)
                          manualGuideUrl:
                            type: string
                            nullable: true
                            description: Manual DNS setup guide URL (only present for pending domains)
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeDomain
      tags:
        - Domains
      summary: Remove domain
      x-requiredRole: developer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: domain
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Domain removed successfully
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Domain or instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/domains/instance/{instanceId}:
    get:
      operationId: listInstanceDomains
      tags:
        - Domains
      summary: List domains for an instance
      x-requiredRole: viewer
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          domains:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                domain:
                                  type: string
                                status:
                                  type: string
                                  enum: [pending, active]
                                provider:
                                  type: string
                                  nullable: true
                                createdAt:
                                  type: integer
                                  format: int64
                                activatedAt:
                                  type: integer
                                  format: int64
                                  nullable: true
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/domains/{domain}/verify:
    post:
      operationId: checkDomainVerification
      tags:
        - Domains
      summary: Check domain verification status
      x-requiredRole: developer
      description: |
        Checks if the DNS TXT record has been added and activates the domain if verification is complete.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: domain
          required: true
          schema:
            type: string
          description: Domain name to verify
      responses:
        '204':
          description: Domain check in-flight
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Domain or instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Domain verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/domains/callback/{provider}:
    get:
      operationId: oauthCallback
      tags:
        - Domains
      summary: OAuth callback handler
      x-requiredRole: public
      security: []
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [cloudflare, godaddy, digitalocean, google]
        - in: query
          name: code
          required: true
          schema:
            type: string
        - in: query
          name: state
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to frontend with status
        '400':
          description: Missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/jwks/.well-known/jwks.json:
    get:
      operationId: getJwksKeys
      tags:
        - Auth
      summary: Get JWKS public keys
      x-requiredRole: public
      description: Returns the JSON Web Key Set (JWKS) used to verify instance tokens.
      security: []
      responses:
        '200':
          description: JWKS public keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        kty:
                          type: string
                          example: RSA
                        use:
                          type: string
                          example: sig
                        alg:
                          type: string
                          example: RS256
                        n:
                          type: string
                        e:
                          type: string

  /v1/agent/instances/{instanceId}/ws:
    get:
      operationId: agentTasksWebSocket
      tags:
        - Agents
      summary: Open WebSocket for instance tasks
      x-requiredRole: public
      description: |
        Upgrades to a WebSocket used by the dployr instance daemon to
        sync tasks between base and instance in real time.

        The daemon must include a Bearer agent access token in the
        `Authorization` header. On successful authentication and
        instance lookup, the connection is upgraded.

        ## WebSocket Message Types

        ### From Daemon to Base:
        - **AgentPullMessage**: `{"kind":"pull"}` - Daemon requests pending tasks.
        - **AgentAckMessage**: `{"kind":"ack","ids":["..."]}` - Daemon acknowledges completed task IDs.
        - **LogChunkMessage**: `{"kind":"log_chunk","streamId":"...","lines":[...]}` - Daemon sends log data.

        ### From Base to Daemon:
        - **AgentTaskMessage**: `{"kind":"task","items":[...]}` - Base delivers tasks to execute.

        ## Task Structure

        Each task (DaemonTask) has:
        - **ID**: Unique task identifier
        - **Type**: Task address in format `<path>:<method>` (e.g., `logs/stream:post`)
        - **Payload**: Task-specific data (e.g., LogStreamPayload for log streaming)
        - **Status**: One of `pending`, `in_progress`, `done`, `failed`

        See the schema definitions for AgentTaskMessage, DaemonTask, and LogStreamPayload
        for complete type information.
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket protocol upgrade
        '400':
          description: Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'