# Copyright 2025 Emmanuel Madehin
# SPDX-License-Identifier: Apache-2.0

openapi: 3.0.4
info:
  title: Dployr Base API
  version: 1.0.0
  description: |
    Your app, your server, your rules!

    ## Authentication
    Authenticate via OAuth2.0 (Google, GitHub, Microsoft) or email OTP.
    Sessions are cookie-based.

    ## Authorization
    Role-based access control:
    - **Owner**: Full control, manages admins and billing
    - **Admin**: User management, infrastructure
    - **Developer**: Deploy apps, manage integrations
    - **Viewer**: Read-only access

    ## Rate Limiting
    - Global: 100 requests/minute per user or IP on `/v1/*`
    - Strict: 10 requests/minute on sensitive endpoints
    - Returns `429` with `Retry-After` and `X-RateLimit-*` headers on breach

servers:
  - url: https://base.dployr.dev
    description: Development
  - url: https://base.dployr.io
    description: Production

tags:
  - name: Health
    description: Service health and observability.
  - name: Auth
    description: Authentication and session management.
  - name: Users
    description: Current user profile.
  - name: Clusters
    description: Cluster membership, roles, and integrations.
  - name: Instances
    description: Instance lifecycle and operations.
  - name: Domains
    description: Custom domains and instance bootstrap registration.
  - name: Deployments
    description: Deployment history and status.
  - name: Integrations
    description: VCS integrations (GitHub, GitLab, BitBucket).
  - name: Notifications
    description: Notification integrations and event subscriptions.
  - name: Billing
    description: Subscription plans, checkout, and webhook events.

  - name: Services
    description: Deployed service management — list, update, delete, envs and secrets.
  - name: Proxy
    description: Traffic routing and service discovery.
  - name: Runtime
    description: Runtime events, version compatibility, and activity.
  - name: Nodes
    description: Instance daemon token exchange, cert registration, and WebSocket tasks.
  - name: JWKS
    description: Public key set for JWT verification.

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            message:
              type: string
              example: Resource not found
            code:
              type: string
              description: |
                Machine-readable error code. Known values:
                - `request.missing_params`
                - `request.bad_request`
                - `request.invalid_otp`
                - `request.unprocessable_entity`
                - `request.too_many_requests`
                - `request.internal_server_error`
                - `validation.missing_fields`
                - `validation.invalid_format`
                - `auth.bad_session`
                - `auth.bad_token`
                - `auth.invalid_oauth_provider`
                - `auth.bad_oauth_state`
                - `permission.forbidden`
                - `permission.owner_role_required`
                - `permission.admin_role_required`
                - `permission.developer_role_required`
                - `permission.viewer_role_required`
                - `resource.missing_resource`
                - `resource.conflict`
                - `runtime.bad_webhook_signature`
                - `runtime.internal_server_error`
                - `runtime.node_not_connected`
                - `bootstrap.bootstrap_setup_failure`
                - `bootstrap.bootstrap_run_failure`
              example: resource.missing_resource
            helpLink:
              type: string
              format: uri
              example: https://monitoring.dployr.io
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
        data:
          nullable: true
          type: object

    PaginatedResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        pagination:
          type: object
          properties:
            page:
              type: integer
              minimum: 1
            pageSize:
              type: integer
              minimum: 1
            totalItems:
              type: integer
              minimum: 0
            totalPages:
              type: integer
              minimum: 0
            hasNextPage:
              type: boolean
            hasPreviousPage:
              type: boolean

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        picture:
          type: string
          nullable: true
        provider:
          type: string
          enum: [google, github, microsoft, email]
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64

    ClusterSummary:
      type: object
      description: Cluster summary as returned in session and user responses.
      properties:
        id:
          type: string
        name:
          type: string
        owner:
          type: string
          description: Owner's name
        role:
          type: string
          enum: [owner, admin, developer, viewer]

    Cluster:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        users:
          type: array
          items:
            type: string
          description: Array of user IDs
        roles:
          type: object
          properties:
            owner:
              type: array
              items:
                type: string
            admin:
              type: array
              items:
                type: string
            developer:
              type: array
              items:
                type: string
            viewer:
              type: array
              items:
                type: string
            invited:
              type: array
              items:
                type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64

    Instance:
      type: object
      properties:
        id:
          type: string
        clusterId:
          type: string
        address:
          type: string
          description: IPv4 address
        tag:
          type: string
          description: Unique instance name
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64

    ClientCertUpdate:
      type: object
      required: [pem, spki_sha256, subject, not_after]
      properties:
        pem:
          type: string
        spki_sha256:
          type: string
          description: Base64-encoded SHA-256 of the certificate SPKI
        subject:
          type: string
        not_after:
          type: string
          format: date-time

    NotificationEvent:
      type: string
      enum:
        - instance.created
        - instance.modified
        - instance.deleted
        - cluster.modified
        - cluster.user_invited
        - cluster.invite_revoked
        - cluster.invite_accepted
        - cluster.invite_declined
        - cluster.removed_user
        - cluster.user_role_changed
        - cluster.ownership_transferred
        - auth.session_created
        - billing.payment_successful
        - billing.payment_failed
        - billing.subscription_canceled
        - billing.subscription_expired

    NotificationEventArray:
      type: array
      items:
        $ref: '#/components/schemas/NotificationEvent'
      example:
        - instance.created
        - instance.deleted
        - cluster.invite_accepted

    SubscriptionPlan:
      type: string
      enum: [hobby, indie, pro]

    SubscriptionStatus:
      type: string
      enum: [active, canceled, past_due]

    ClusterSubscription:
      type: object
      properties:
        clusterId:
          type: string
        plan:
          $ref: '#/components/schemas/SubscriptionPlan'
        polarCustomerId:
          type: string
          nullable: true
        polarSubscriptionId:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/SubscriptionStatus'
        canceledAt:
          type: integer
          format: int64
          nullable: true
        periodEnd:
          type: integer
          format: int64
          nullable: true
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64

    PlanDefinition:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SubscriptionPlan'
        name:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
          example: USD
        interval:
          type: string
          nullable: true
          example: month
        checkoutUrl:
          type: string
          nullable: true
          format: uri

    Remote:
      type: object
      properties:
        url:
          type: string
        branch:
          type: string
        commit_hash:
          type: string
          nullable: true
        avatar_url:
          type: string
          nullable: true
      required: [url, branch]

    RemoteListResult:
      type: object
      properties:
        provider:
          type: string
          enum: [github, gitlab, bitbucket]
        remotes:
          type: array
          items:
            $ref: '#/components/schemas/Remote'
        error:
          type: string
          nullable: true
      required: [provider, remotes]

    DaemonTask:
      type: object
      properties:
        ID:
          type: string
        Type:
          type: string
          description: Task address — `path:method` e.g. `deployments:post`
        Payload:
          type: object
          additionalProperties: true
        Status:
          type: string
          enum: [pending, in_progress, done, failed]
      required: [ID, Type, Payload, Status]

    NodeUpdateV1_1:
      type: object
      properties:
        schema:
          type: string
          enum: [v1.1]
        sequence:
          type: integer
        epoch:
          type: string
        instance_id:
          type: string
        timestamp:
          type: string
          format: date-time
        is_full_sync:
          type: boolean
        node:
          type: object
          properties:
            version:
              type: string
            commit:
              type: string
            build_date:
              type: string
            go_version:
              type: string
            os:
              type: string
            arch:
              type: string
        status:
          type: object
          properties:
            state:
              type: string
              enum: [healthy, degraded, unhealthy]
            mode:
              type: string
              enum: [ready, busy, maintenance]
            uptime_seconds:
              type: integer
        health:
          type: object
          properties:
            overall:
              type: string
              enum: [ok, degraded, down]
            websocket:
              type: string
            tasks:
              type: string
            proxy:
              type: string
            auth:
              type: string
        resources:
          type: object
          properties:
            cpu:
              type: object
              properties:
                count:
                  type: integer
                user_percent:
                  type: number
                system_percent:
                  type: number
                idle_percent:
                  type: number
                iowait_percent:
                  type: number
                load_average:
                  type: object
                  properties:
                    one_minute:
                      type: number
                    five_minute:
                      type: number
                    fifteen_minute:
                      type: number
            memory:
              type: object
              properties:
                total_bytes:
                  type: integer
                  format: int64
                used_bytes:
                  type: integer
                  format: int64
                free_bytes:
                  type: integer
                  format: int64
                available_bytes:
                  type: integer
                  format: int64
                buffer_cache_bytes:
                  type: integer
                  format: int64
            swap:
              type: object
              properties:
                total_bytes:
                  type: integer
                  format: int64
                used_bytes:
                  type: integer
                  format: int64
                free_bytes:
                  type: integer
                  format: int64
                available_bytes:
                  type: integer
                  format: int64
            disks:
              type: array
              items:
                type: object
                properties:
                  filesystem:
                    type: string
                  mount_point:
                    type: string
                  total_bytes:
                    type: integer
                    format: int64
                  used_bytes:
                    type: integer
                    format: int64
                  available_bytes:
                    type: integer
                    format: int64
        workloads:
          type: object
          properties:
            deployments:
              type: array
              items:
                type: object
                additionalProperties: true
            services:
              type: array
              items:
                type: object
                additionalProperties: true
        proxy:
          type: object
          properties:
            type:
              type: string
            status:
              type: string
              enum: [running, stopped, error]
            version:
              type: string
            route_count:
              type: integer
            routes:
              type: array
              items:
                type: object
                properties:
                  domain:
                    type: string
                  upstream:
                    type: string
                  template:
                    type: string
                  root:
                    type: string
                    nullable: true
                  status:
                    type: string
        processes:
          type: object
          properties:
            summary:
              type: object
              properties:
                total:
                  type: integer
                running:
                  type: integer
                sleeping:
                  type: integer
                stopped:
                  type: integer
                zombie:
                  type: integer
            list:
              type: array
              items:
                type: object
                properties:
                  pid:
                    type: integer
                  user:
                    type: string
                  cpu_percent:
                    type: number
                  memory_percent:
                    type: number
                  state:
                    type: string
                  command:
                    type: string
        filesystem:
          type: object
          properties:
            generated_at:
              type: string
              format: date-time
            is_stale:
              type: boolean
            roots:
              type: array
              items:
                type: object
        diagnostics:
          type: object
          properties:
            websocket:
              type: object
              properties:
                is_connected:
                  type: boolean
                last_connected_at:
                  type: string
                  format: date-time
                reconnect_count:
                  type: integer
                last_error:
                  type: string
                  nullable: true
            tasks:
              type: object
              properties:
                inflight_count:
                  type: integer
                unsent_count:
                  type: integer
            auth:
              type: object
              properties:
                token_age_seconds:
                  type: integer
                token_expires_in_seconds:
                  type: integer
      required: [schema, sequence, epoch, instance_id, timestamp, is_full_sync]

    WebSocketStats:
      type: object
      properties:
        totalConnections:
          type: integer
        connectionsByCluster:
          type: object
          additionalProperties:
            type: integer
        pendingRequests:
          type: integer
        logStreams:
          type: integer
        fileWatches:
          type: integer
        unackedMessages:
          type: integer

    Service:
      type: object
      properties:
        id:
          type: string
        clusterId:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [docker, nixpacks, static]
        deploymentId:
          type: string
          nullable: true
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64

    Deployment:
      type: object
      properties:
        id:
          type: string
        clusterId:
          type: string
        serviceId:
          type: string
          nullable: true
        name:
          type: string
        type:
          type: string
          enum: [docker, nixpacks, static]
        source:
          type: string
          enum: [remote, image]
        status:
          type: string
          enum: [pending, running, success, failed]
        blueprint:
          type: object
          additionalProperties: true
        logs:
          type: string
          nullable: true
        createdAt:
          type: integer
          format: int64
        finishedAt:
          type: integer
          nullable: true
          format: int64

    # WebSocket client message types
    WSClientSubscribeMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [client_subscribe]
        requestId:
          type: string
      required: [kind]

    WSDeployMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [deploy]
        requestId:
          type: string
        instanceName:
          type: string
        payload:
          type: object
          description: DeploymentPayload
          additionalProperties: true
      required: [kind, requestId, instanceName, payload]

    WSDeploymentListMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [deployment_list]
        requestId:
          type: string
        instanceName:
          type: string
      required: [kind, requestId, instanceName]

    WSServiceRemoveMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [service_remove]
        requestId:
          type: string
        name:
          type: string
      required: [kind, requestId, name]

    WSLogSubscribeMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [log_subscribe]
        requestId:
          type: string
        instanceName:
          type: string
        path:
          type: string
        startOffset:
          type: integer
        limit:
          type: integer
        duration:
          type: string
      required: [kind, requestId, instanceName, path]

    WSLogUnsubscribeMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [log_unsubscribe]
        requestId:
          type: string
        path:
          type: string
      required: [kind, requestId]

    WSFileReadMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [file_read]
        requestId:
          type: string
        instanceId:
          type: string
          description: Instance tag/name
        path:
          type: string
      required: [kind, requestId, instanceId, path]

    WSFileWriteMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [file_write]
        requestId:
          type: string
        instanceId:
          type: string
        path:
          type: string
        content:
          type: string
        encoding:
          type: string
          enum: [utf8, base64]
      required: [kind, requestId, instanceId, path, content]

    WSFileCreateMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [file_create]
        requestId:
          type: string
        instanceId:
          type: string
        path:
          type: string
        type:
          type: string
          enum: [file, directory]
      required: [kind, requestId, instanceId, path, type]

    WSFileDeleteMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [file_delete]
        requestId:
          type: string
        instanceId:
          type: string
        path:
          type: string
      required: [kind, requestId, instanceId, path]

    WSFileTreeMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [file_tree]
        requestId:
          type: string
        instanceId:
          type: string
        path:
          type: string
      required: [kind, requestId, instanceId]

    WSFileWatchMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [file_watch]
        requestId:
          type: string
        instanceId:
          type: string
        path:
          type: string
        recursive:
          type: boolean
          default: false
      required: [kind, requestId, instanceId, path]

    WSFileUnwatchMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [file_unwatch]
        requestId:
          type: string
        instanceId:
          type: string
        path:
          type: string
      required: [kind, requestId, instanceId, path]

    WSTerminalOpenMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [terminal_open]
        requestId:
          type: string
        instanceId:
          type: string
        cols:
          type: integer
        rows:
          type: integer
      required: [kind, requestId, instanceId, cols, rows]

    WSTerminalMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [terminal]
        requestId:
          type: string
        instanceId:
          type: string
        sessionId:
          type: string
        action:
          type: string
          enum: [input, resize, close, output, error]
        data:
          type: string
        cols:
          type: integer
        rows:
          type: integer
      required: [kind, requestId, instanceId, action]

    WSInstanceSystemInstallMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [instance_system_install]
        requestId:
          type: string
        instanceName:
          type: string
        clusterId:
          type: string
        version:
          type: string
      required: [kind, requestId, instanceName, clusterId]

    WSInstanceSystemRebootMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [instance_system_reboot]
        requestId:
          type: string
        instanceName:
          type: string
        clusterId:
          type: string
        force:
          type: boolean
          default: false
      required: [kind, requestId, instanceName, clusterId]

    WSInstanceSystemRestartMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [instance_system_restart]
        requestId:
          type: string
        instanceName:
          type: string
        clusterId:
          type: string
        force:
          type: boolean
          default: false
      required: [kind, requestId, instanceName, clusterId]

    WSInstanceTokenRotateMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [instance_token_rotate]
        requestId:
          type: string
        instanceName:
          type: string
        token:
          type: string
      required: [kind, requestId, instanceName, token]

    WSProxyStatusMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [proxy_status]
        requestId:
          type: string
        instanceName:
          type: string
        clusterId:
          type: string
      required: [kind, requestId, instanceName, clusterId]

    WSProxyRestartMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [proxy_restart]
        requestId:
          type: string
        instanceName:
          type: string
        clusterId:
          type: string
        force:
          type: boolean
          default: false
      required: [kind, requestId, instanceName, clusterId]

    WSProxyAddMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [proxy_add]
        requestId:
          type: string
        instanceName:
          type: string
        clusterId:
          type: string
        serviceName:
          type: string
        upstream:
          type: string
        domain:
          type: string
        template:
          type: string
      required: [kind, requestId, instanceName, clusterId, serviceName, upstream]

    WSProxyRemoveMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [proxy_remove]
        requestId:
          type: string
        instanceName:
          type: string
        clusterId:
          type: string
        serviceName:
          type: string
      required: [kind, requestId, instanceName, clusterId, serviceName]

    WSProcessHistoryMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [process_history]
        requestId:
          type: string
        instanceId:
          type: string
        startTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
      required: [kind, requestId, instanceId]

    WSAckMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [ack]
        messageId:
          type: string
      required: [kind, messageId]

    WSErrorResponse:
      type: object
      description: Error response sent to client over WebSocket.
      properties:
        kind:
          type: string
          enum: [error]
        requestId:
          type: string
        code:
          type: integer
          description: |
            Numeric error code:
            - `1000` validation_error
            - `1001` missing_field
            - `1002` invalid_format
            - `2000` permission_denied
            - `2001` not_found
            - `2002` unauthorized
            - `3000` node_timeout
            - `3001` node_disconnected
            - `3002` node_error
            - `4000` rate_limited
            - `4001` too_many_pending
            - `5000` internal_error
            - `5001` task_failed
        message:
          type: string
        timestamp:
          type: integer
          format: int64
      required: [kind, requestId, code, message, timestamp]

    # Node → Base WebSocket messages
    WSNodeUpdateMessage:
      type: object
      description: Status update broadcast from node to base, relayed to connected clients.
      properties:
        kind:
          type: string
          enum: [update]
      required: [kind]

    WSLogChunkMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [log_chunk]
        streamId:
          type: string
        data:
          type: string
      required: [kind, streamId]

    WSTaskResponseMessage:
      type: object
      description: Node response to a task sent by base.
      properties:
        kind:
          type: string
          enum: [task_response]
        taskId:
          type: string
        requestId:
          type: string
        success:
          type: boolean
        data:
          type: object
          additionalProperties: true
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
      required: [kind, taskId, requestId, success]

    WSFileUpdateEvent:
      type: object
      properties:
        path:
          type: string
        type:
          type: string
          enum: [create, modify, delete, rename]
        isDir:
          type: boolean
        timestamp:
          type: integer
          format: int64
        oldPath:
          type: string
          nullable: true
      required: [path, type, isDir, timestamp]

    WSFileUpdateMessage:
      type: object
      properties:
        kind:
          type: string
          enum: [file_update]
        instanceId:
          type: string
        event:
          $ref: '#/components/schemas/WSFileUpdateEvent'
      required: [kind, instanceId, event]

paths:

  # ─── Health ────────────────────────────────────────────────────────────────

  /v1/health:
    get:
      operationId: healthCheck
      tags: [Health]
      summary: Health check
      security: []
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: v0.1.20

  /v1/ws/stats:
    get:
      operationId: getWebSocketStats
      tags: [Health]
      summary: WebSocket connection statistics
      security: []
      responses:
        '200':
          description: Stats retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebSocketStats'
        '503':
          description: WebSocket handler unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string

  # ─── Auth ──────────────────────────────────────────────────────────────────

  /v1/auth/login/{provider}:
    get:
      operationId: initiateOAuthLogin
      tags: [Auth]
      summary: Initiate OAuth login
      security: []
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [google, github, microsoft]
        - in: query
          name: redirect_to
          schema:
            type: string
      responses:
        '302':
          description: Redirect to OAuth provider
        '400':
          description: Invalid provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/callback/{provider}:
    get:
      operationId: oauthCallback
      tags: [Auth]
      summary: OAuth callback
      security: []
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [google, github, microsoft]
        - in: query
          name: code
          required: true
          schema:
            type: string
        - in: query
          name: state
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to app with session cookie set
        '400':
          description: Invalid state or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/login/email:
    post:
      operationId: requestEmailOtp
      tags: [Auth]
      summary: Request email OTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email:
                            type: string
                            format: email
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/login/email/verify:
    post:
      operationId: verifyEmailOtp
      tags: [Auth]
      summary: Verify email OTP and create session
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: Login successful, session cookie set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid code format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: Invalid or expired code
                  code: request.invalid_otp

  /v1/auth/logout:
    get:
      operationId: logout
      tags: [Auth]
      summary: Logout and clear session
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/jwks/.well-known/jwks.json:
    get:
      operationId: getJwks
      tags: [JWKS]
      summary: Public key set for JWT verification
      security: []
      responses:
        '200':
          description: JWKS
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        kty:
                          type: string
                          example: RSA
                        kid:
                          type: string
                        use:
                          type: string
                          example: sig
                        alg:
                          type: string
                          example: RS256
                        n:
                          type: string
                        e:
                          type: string

  # ─── Users ─────────────────────────────────────────────────────────────────

  /v1/users/me:
    get:
      operationId: getCurrentUser
      tags: [Users]
      summary: Get current user and their clusters
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          clusters:
                            type: array
                            items:
                              $ref: '#/components/schemas/ClusterSummary'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: Session invalid
                  code: auth.bad_session

    patch:
      operationId: updateCurrentUser
      tags: [Users]
      summary: Update current user profile
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  maxLength: 30
                picture:
                  type: string
                provider:
                  type: string
                  enum: [google, github, microsoft, email]
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─── Clusters ──────────────────────────────────────────────────────────────

  /v1/clusters:
    get:
      operationId: listClusters
      tags: [Clusters]
      summary: List clusters for current user
      security:
        - sessionCookie: []
      responses:
        '200':
          description: User's clusters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          clusters:
                            type: array
                            items:
                              $ref: '#/components/schemas/ClusterSummary'

  /v1/clusters/users/invites:
    get:
      operationId: listPendingInvites
      tags: [Clusters]
      summary: List pending cluster invites for current user
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Pending invites
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          invites:
                            type: array
                            items:
                              type: object
                              properties:
                                clusterId:
                                  type: string
                                clusterName:
                                  type: string
                                ownerName:
                                  type: string

  /v1/clusters/{id}/users/invites/accept:
    get:
      operationId: acceptClusterInvite
      tags: [Clusters]
      summary: Accept cluster invite
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Cluster ID
      responses:
        '200':
          description: Invite accepted — session clusters refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing or invalid clusterId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/clusters/{id}/users/invites/decline:
    get:
      operationId: declineClusterInvite
      tags: [Clusters]
      summary: Decline cluster invite
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite declined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing clusterId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/clusters/{id}/users:
    get:
      operationId: listClusterUsers
      tags: [Clusters]
      summary: List users or pending invites in a cluster
      description: Requires **viewer** role or above on the cluster. Pass `showInvites` to list pending invites instead of active members.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
        - in: query
          name: showInvites
          schema:
            type: boolean
          description: If present, returns pending invites instead of active members
      responses:
        '200':
          description: Paginated users or invites
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'
        '403':
          description: Insufficient permissions (viewer role required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      operationId: inviteClusterUsers
      tags: [Clusters]
      summary: Invite users to cluster
      description: Requires admin role.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [users]
              properties:
                users:
                  type: array
                  items:
                    type: string
                    format: email
      responses:
        '200':
          description: Invites sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: Admin role required
                  code: permission.admin_role_required

    patch:
      operationId: updateClusterRoles
      tags: [Clusters]
      summary: Update cluster member roles
      description: Requires admin role. Cannot change owner role — use the transfer ownership endpoint.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roles]
              properties:
                roles:
                  type: object
                  properties:
                    admin:
                      type: array
                      items:
                        type: string
                        format: email
                    developer:
                      type: array
                      items:
                        type: string
                        format: email
                    viewer:
                      type: array
                      items:
                        type: string
                        format: email
      responses:
        '200':
          description: Roles updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Cluster not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/clusters/{id}/users/remove:
    post:
      operationId: removeClusterUsers
      tags: [Clusters]
      summary: Remove users from cluster
      description: Requires admin role. Cannot remove the owner.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [users]
              properties:
                users:
                  type: array
                  items:
                    type: string
                    description: User ULID
      responses:
        '200':
          description: Users removed — affected sessions refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/clusters/{id}/users/owner:
    post:
      operationId: transferClusterOwnership
      tags: [Clusters]
      summary: Transfer cluster ownership
      description: Requires owner role. Both owner and new owner sessions are refreshed.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newOwnerId]
              properties:
                newOwnerId:
                  type: string
                  description: User ULID
                previousOwnerRole:
                  type: string
                  enum: [admin, developer, viewer]
                  default: viewer
      responses:
        '200':
          description: Ownership transferred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Owner role required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: Owner role required
                  code: permission.owner_role_required

  /v1/clusters/{id}/integrations:
    get:
      operationId: listClusterIntegrations
      tags: [Clusters]
      summary: List cluster integrations
      description: Requires **viewer** role or above on the cluster.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Integrations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          remote:
                            type: object
                            properties:
                              gitHub:
                                type: object
                                nullable: true
                              gitLab:
                                type: object
                                nullable: true
                              bitBucket:
                                type: object
                                nullable: true
                          notification:
                            type: object
                            properties:
                              discord:
                                type: object
                                nullable: true
                                properties:
                                  webhookUrl:
                                    type: string
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                              slack:
                                type: object
                                nullable: true
                                properties:
                                  webhookUrl:
                                    type: string
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                              customWebhook:
                                type: object
                                nullable: true
                                properties:
                                  webhookUrl:
                                    type: string
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                              email:
                                type: object
                                nullable: true
                                properties:
                                  enabled:
                                    type: boolean
                                  events:
                                    $ref: '#/components/schemas/NotificationEventArray'
                          email:
                            type: object
        '403':
          description: Insufficient permissions (viewer role required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/clusters/{id}/remotes:
    get:
      operationId: listClusterRemotes
      tags: [Clusters]
      summary: List GitHub repositories accessible to the cluster installation
      description: Requires **viewer** role or above on the cluster. GitHub integration must be configured.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated remotes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'
        '403':
          description: Insufficient permissions (viewer role required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances:
    get:
      operationId: listInstances
      tags: [Instances]
      summary: List instances
      description: Requires **viewer** role or above on the cluster. `clusterId` is required.
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
          description: Filter by cluster. Optional.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated instances
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Missing or invalid clusterId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions (viewer role required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      operationId: createInstance
      tags: [Instances]
      summary: Create an instance
      description: Requires **developer** role or above on the cluster.
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clusterId, address, tag]
              properties:
                clusterId:
                  type: string
                  description: Cluster ULID
                address:
                  type: string
                  description: IPv4 address
                  example: 192.168.1.10
                tag:
                  type: string
                  minLength: 3
                  maxLength: 15
                  description: Unique instance name
                region:
                  type: string
                  enum:
                    - us-east
                    - us-west
                    - us-central
                    - eu-west
                    - eu-central
                    - eu-north
                    - ap-south
                    - ap-southeast
                    - ap-northeast
                    - af-south
                    - me-central
                    - sa-east
      responses:
        '200':
          description: Instance created with one-time bootstrap token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          instance:
                            $ref: '#/components/schemas/Instance'
                          token:
                            type: string
                            description: One-time bootstrap token for the daemon
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Address or tag already in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: An instance with this address already exists
                  code: resource.conflict

  /v1/instances/{id}:
    get:
      operationId: getInstance
      tags: [Instances]
      summary: Get instance by ID
      description: Requires **viewer** role or above on the instance's cluster.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Instance
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Instance'
        '403':
          description: Insufficient permissions (viewer role required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      operationId: deleteInstance
      tags: [Instances]
      summary: Delete an instance
      description: Requires **admin** role or above on the instance's cluster.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Instance deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          deleted:
                            type: boolean
                            example: true
        '403':
          description: Insufficient permissions (admin role required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances/{name}/ping:
    post:
      operationId: pingInstance
      tags: [Instances]
      summary: Ping an instance
      description: Requires **developer** role or above on the instance's cluster.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
          description: Instance tag
      responses:
        '200':
          description: Ping enqueued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          status:
                            type: string
                            example: enqueued
        '400':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances/{name}/domain:
    post:
      operationId: addInstanceDomain
      tags: [Instances]
      summary: Assign free subdomain to instance
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
          description: Instance tag
      responses:
        '200':
          description: Domain assigned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          domain:
                            type: string
                            example: my-instance.dployr.io
        '400':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances/{instanceId}/tokens/rotate:
    post:
      operationId: rotateInstanceToken
      tags: [Instances]
      summary: Rotate instance bootstrap token
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Current bootstrap token
      responses:
        '200':
          description: New rotated token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances/{instanceId}/system/install:
    post:
      operationId: installDployr
      tags: [Instances]
      summary: Install or upgrade dployr daemon on instance
      description: Requires a connected node WebSocket. Returns task ID.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version]
              properties:
                version:
                  type: string
                  example: v0.4.8
      responses:
        '202':
          description: Install task accepted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          status:
                            type: string
                            example: accepted
                          taskId:
                            type: string
                          message:
                            type: string
        '400':
          description: Validation error or missing clusterId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Instance not connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: Instance is not connected or unresponsive to instance
                  code: runtime.node_not_connected

  /v1/instances/{instanceId}/system/reboot:
    post:
      operationId: rebootInstance
      tags: [Instances]
      summary: Reboot instance
      description: Sends a system reboot task to the connected node.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
      responses:
        '202':
          description: Reboot task accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '503':
          description: Instance not connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/instances/{instanceId}/system/restart:
    post:
      operationId: restartDaemon
      tags: [Instances]
      summary: Restart dployr daemon on instance
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            type: string
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
      responses:
        '202':
          description: Restart task accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '503':
          description: Instance not connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─── Client WebSocket ──────────────────────────────────────────────────────

  /v1/instances/stream:
    get:
      operationId: clientWebSocket
      tags: [Instances]
      summary: Client WebSocket for real-time cluster updates
      description: |
        WebSocket endpoint for browser/client connections. Authenticated via
        the `session` cookie. Pass `clusterId` as a query parameter.

        ## Connection
        Upgrade with `?clusterId=<id>` and a valid session cookie.

        ## Messages from client to base

        All messages (except `client_subscribe` and `ack`) require a `requestId` string for response correlation.

        | kind | description |
        |------|-------------|
        | `client_subscribe` | Subscribe to cluster status updates |
        | `log_subscribe` | Subscribe to log stream |
        | `log_unsubscribe` | Unsubscribe from log stream |
        | `log_stream` | Start a log stream with a token |
        | `file_read` | Read file content |
        | `file_write` | Write file content |
        | `file_create` | Create file or directory |
        | `file_delete` | Delete file or directory |
        | `file_tree` | Get filesystem tree |
        | `file_watch` | Watch for filesystem changes |
        | `file_unwatch` | Stop watching filesystem |
        | `instance_token_rotate` | Rotate bootstrap token |
        | `process_history` | Get process snapshots |
        | `terminal_open` | Open terminal session |
        | `terminal` | Send terminal input/resize/close |
        | `ack` | Acknowledge a server message |

        ## Messages from base to client

        | kind | description |
        |------|-------------|
        | `update` | Node status broadcast |
        | `log_chunk` | Log stream chunk |
        | `file_update` | Filesystem change notification |
        | `*_response` | Response to a client request, echoes `requestId` |
        | `error` | Error response, includes `requestId` and numeric `code` |

        ## Error codes
        See `WSErrorResponse` schema for numeric code meanings.
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket upgrade
        '400':
          description: Missing clusterId
        '401':
          description: Invalid or missing session

  # ─── Domains ───────────────────────────────────────────────────────────────

  /v1/domains/register:
    post:
      operationId: registerInstanceDomain
      tags: [Domains]
      summary: Register instance with bootstrap token
      description: Called by the dployr daemon on first boot using the one-time token from instance creation.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Instance registered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          instanceId:
                            type: string
                          domain:
                            type: string
                            example: my-instance.dployr.io
                          issuer:
                            type: string
                          audience:
                            type: string
                            example: dployr-instance
        '400':
          description: Invalid, expired, or already-used token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: Invalid or expired token
                  code: auth.bad_token

  /v1/domains/verify:
    get:
      operationId: caddyDomainVerify
      tags: [Domains]
      summary: Caddy TLS verification endpoint
      description: |
        Called internally by Caddy to verify domain ownership before issuing TLS certificates.
        Not intended for direct API consumer use.

        Returns plain text responses:
        - `ok` — domain is active or TXT record verified (activates domain)
        - `verification pending` — TXT record not yet found (403)
        - `domain not registered` — domain unknown (404)
        - `missing domain parameter` — no `domain` query param (400)
      security: []
      parameters:
        - in: query
          name: domain
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Domain verified or already active
          content:
            text/plain:
              schema:
                type: string
                example: ok
        '400':
          description: Missing domain parameter
          content:
            text/plain:
              schema:
                type: string
                example: missing domain parameter
        '403':
          description: TXT record not yet found
          content:
            text/plain:
              schema:
                type: string
                example: verification pending
        '404':
          description: Domain not registered
          content:
            text/plain:
              schema:
                type: string
                example: domain not registered

  /v1/domains:
    post:
      operationId: createCustomDomain
      tags: [Domains]
      summary: Create custom domain for an instance
      description: Requires developer role on the instance's cluster.
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: instanceId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain, clusterId]
              properties:
                domain:
                  type: string
                  example: api.example.com
                clusterId:
                  type: string
                  description: cluster id
      responses:
        '200':
          description: Domain created with DNS records to configure
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          domain:
                            type: string
                          provider:
                            type: string
                            enum: [cloudflare, godaddy, digitalocean, route53, namecheap, google, unknown]
                          hasOAuth:
                            type: boolean
                          record:
                            type: object
                            description: A record pointing to instance IP
                            properties:
                              type:
                                type: string
                                enum: [A]
                              name:
                                type: string
                              value:
                                type: string
                              ttl:
                                type: integer
                          verification:
                            type: object
                            description: TXT record for ownership verification
                            properties:
                              type:
                                type: string
                                enum: [TXT]
                              name:
                                type: string
                              value:
                                type: string
                          autoSetupUrl:
                            type: string
                            nullable: true
                          manualGuideUrl:
                            type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Domain registered to another instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: Domain already registered to another instance
                  code: resource.conflict

  /v1/domains/{domain}:
    get:
      operationId: getDomain
      tags: [Domains]
      summary: Get domain details
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: domain
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Domain status and records (pending domains include DNS records)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          domain:
                            type: string
                          status:
                            type: string
                            enum: [pending, active]
                          clusterId:
                            type: string
                          provider:
                            type: string
                            nullable: true
                          createdAt:
                            type: integer
                            format: int64
                          activatedAt:
                            type: integer
                            format: int64
                            nullable: true
                          record:
                            type: object
                            nullable: true
                          verification:
                            type: object
                            nullable: true
                          autoSetupUrl:
                            type: string
                            nullable: true
                          manualGuideUrl:
                            type: string
                            nullable: true
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      operationId: removeDomain
      tags: [Domains]
      summary: Remove custom domain
      description: Requires developer role on the instance's cluster.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: domain
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Domain removed
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Domain or instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/domains/{domain}/verify:
    post:
      operationId: verifyDomain
      tags: [Domains]
      summary: Trigger client-side domain TXT verification
      description: |
        Checks the DNS TXT record and activates the domain if verified.
        Returns 204 on success, 422 if TXT not found yet.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: domain
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Domain verified and activated
        '404':
          description: Domain or instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: TXT record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: TXT record not found
                  code: request.unprocessable_entity
        '500':
          description: Verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/domains:
    get:
      operationId: listInstanceDomains
      tags: [Domains]
      summary: List domains for an instance
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Domains
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          domains:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                domain:
                                  type: string
                                status:
                                  type: string
                                  enum: [pending, active]
                                provider:
                                  type: string
                                  nullable: true
                                createdAt:
                                  type: integer
                                  format: int64
                                activatedAt:
                                  type: integer
                                  format: int64
                                  nullable: true
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/domains/callback/{provider}:
    get:
      operationId: domainOauthCallback
      tags: [Domains]
      summary: DNS provider OAuth callback
      security: []
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [cloudflare, godaddy, digitalocean, google]
        - in: query
          name: code
          required: true
          schema:
            type: string
        - in: query
          name: state
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to frontend with OAuth status
        '400':
          description: Missing parameters or invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─── Deployments ───────────────────────────────────────────────────────────

  /v1/deployments:
    get:
      operationId: listDeployments
      tags: [Deployments]
      summary: List deployments
      description: Deployment listing is not yet fully implemented. Returns empty list.
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deployments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

    post:
      operationId: createDeployment
      tags: [Deployments]
      summary: Create a new deployment (fire-and-return)
      description: |
        Creates a new deployment and dispatches it to the target node as a background task.
        Returns immediately with the deployment record and a task ID — the client should
        listen for a WS refresh signal to know when the deployment completes.

        Returns `409` if a service with that name already exists (either with a different
        type, suggesting a conflict, or the same type, suggesting a `PATCH` redeploy instead).

        > **Note:** The previous WebSocket `deploy` message is deprecated in favour of this endpoint.
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [instanceName, payload]
              properties:
                instanceName:
                  type: string
                  description: Target instance tag/name
                payload:
                  type: object
                  required: [name, type, source]
                  properties:
                    name:
                      type: string
                    type:
                      type: string
                      enum: [docker, nixpacks, static]
                    source:
                      type: string
                      enum: [remote, image]
                  additionalProperties: true
                  description: Full DeploymentSchema payload
      responses:
        '201':
          description: Deployment created and dispatched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          deployment:
                            $ref: '#/components/schemas/Deployment'
                          taskId:
                            type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions (developer role required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Service already exists — use PATCH /v1/services/{serviceId} to redeploy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  message: Service already exists
                  code: resource.conflict
        '503':
          description: Node not connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─── Services ──────────────────────────────────────────────────────────────

  /v1/services:
    get:
      operationId: listServices
      tags: [Services]
      summary: List services for a cluster
      description: Requires viewer role on the cluster.
      security:
        - sessionCookie: []
      parameters:
        - in: query
          name: clusterId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Services retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          services:
                            type: array
                            items:
                              $ref: '#/components/schemas/Service'
        '400':
          description: Missing or invalid clusterId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/services/{serviceId}:
    get:
      operationId: getService
      tags: [Services]
      summary: Get a single service
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: serviceId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Service retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          service:
                            $ref: '#/components/schemas/Service'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Service not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      operationId: redeployService
      tags: [Services]
      summary: Redeploy an existing service (fire-and-return)
      description: |
        Triggers a redeployment of the service with a new payload. Dispatched as a
        background node task — returns immediately with the updated service, a new
        deployment record, and a task ID. The client should listen for a WS refresh
        signal to track completion. Requires developer role on the cluster.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: serviceId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [instanceName, payload]
              properties:
                instanceName:
                  type: string
                  description: Target instance tag/name
                payload:
                  type: object
                  description: DeploymentPayload — same shape as POST /v1/deployments body payload
                  additionalProperties: true
      responses:
        '200':
          description: Redeploy dispatched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          service:
                            $ref: '#/components/schemas/Service'
                          deployment:
                            $ref: '#/components/schemas/Deployment'
                          taskId:
                            type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions (developer role required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Service not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Node not connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      operationId: deleteService
      tags: [Services]
      summary: Remove a service
      description: Deletes the service record and dispatches a node task to stop and clean up the workload. Requires developer role.
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: serviceId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Service removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions (developer role required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Service not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/services/{serviceId}/envs:
    get:
      operationId: listServiceEnvs
      tags: [Services]
      summary: List environment variables for a service
      security:
        - sessionCookie: []
      parameters:
        - in: path
          name: serviceId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Environment variables retrieved
          content:
            application/json:
              schema:
                allOf:
[...]
